<template>
  <d2-container>
    <el-form :inline="true" @keyup.enter.native="getDataList()" size="small">
      <el-form-item>
        <el-input clearable placeholder="节目ID" v-model="dataForm.id"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="getDataList()">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button @click="addOrUpdateHandle()" type="primary" v-if="$hasPermission('progrem:wlprogrem:save')">增加</el-button>
      </el-form-item>
      <el-form-item>
        <el-button @click="deleteHandle()" type="danger" v-if="$hasPermission('progrem:wlprogrem:delete')">批量删除</el-button>
      </el-form-item>
      <!--<el-form-item>-->
        <!--<el-button @click="exportHandle()" type="success" v-if="$hasPermission('progrem:wlprogrem:export')">导出</el-button>-->
      <!--</el-form-item>-->
    </el-form>
    <el-table
      ref="listTable"
      :data="dataList"
      @selection-change="dataListSelectionChangeHandle"
      @sort-change="dataListSortChangeHandle"
      stripe
      highlight-current-row
      :height="heightY-topY+'px'"
      border
      style="width: 100%;margin-top: -10px"
      size="small"
      v-loading="dataListLoading">
      <el-table-column align="center" header-align="center" type="index" :index="indexStart" width="50"></el-table-column>
      <el-table-column align="center" header-align="center" type="selection" width="50"></el-table-column>
      <el-table-column prop="id" label="节目id" header-align="center" align="center"></el-table-column>
      <el-table-column prop="name" label="节目名称" header-align="center" align="center"></el-table-column>
      <el-table-column prop="status" label="节目状态" header-align="center" align="center">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.status == 0" type="success">未发布</el-tag>
          <el-tag v-else type="info">已发布</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="marker" label="是否关注" header-align="center" align="center">
        <template slot-scope="scope">
          <img v-if="scope.row.marker == 1" src="../../image/marker.png" class="icon-image">
          <img v-else src="../../image/unmarker.png" class="icon-image">
        </template>
      </el-table-column>
      <el-table-column prop="remark" label="备注" header-align="center" align="center"></el-table-column>
      <el-table-column align="center"  header-align="center" label="操作">
        <template slot-scope="scope">
          <el-button @click="addOrUpdateHandle(scope.row.id)" size="small" type="text"
                     v-if="$hasPermission('progrem:wlprogrem:update')">修改</el-button>
          <el-button @click="deleteHandle(scope.row.id)" size="small" type="text"
                     v-if="$hasPermission('progrem:wlprogrem:delete')">删除</el-button>
          <el-button @click="approveHandle(scope.row.id)" size="small" type="text"
                     v-if="$hasPermission('template:wltemplate:delete')" >发布</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination style="margin: 5px 0px -15px"
                   :current-page="page"
                   :page-size="limit"
                   :page-sizes="[10, 20, 50, 100]"
                   :total="total"
                   @current-change="pageCurrentChangeHandle"
                   @size-change="pageSizeChangeHandle"
                   layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- 弹窗, 新增 / 修改 -->
    <add-or-update @refreshDataList="getDataList"  ref="addOrUpdate" v-show="addOrUpdateVisible"></add-or-update>
    <!--选择终端-->
    <approve @refreshDataList="getDataList"  ref = "approve" v-show="approveVisible"> </approve>
  </d2-container>
</template>
<script>
import util from '@/libs/util'
import resizemix from '@/components/qz-mixins/windowresize/resizemix'
import * as api from './api'
import addOrUpdate from './wl_program-add-or-update'
import approve from './wl_program_approve'
export default {
  name: 'progrem-wlnewprogrem',
  mixins: [resizemix],
  components: {
    addOrUpdate,
    approve
  },
  data () {
    return {
      topY: 180,
      typeValue: '',
      dataForm: {
        type: '',
        // 包含
        id: '',
        // ge_是指大于等于
        ge_createDate: null,
        // le_是指小于等于
        le_createDate: null
      },
      dataList: [],
      order: '', // 排序，asc／desc
      orderField: '', // 排序，字段
      page: 1, // 当前页码
      limit: 20, // 每页数 limit 不能与字段重复
      total: 0, // 总条数
      dataListLoading: false, // 装载数据
      dataListSelections: [], // 数据列表，多选项
      addOrUpdateVisible: false, // 新增／更新，弹窗addOrUpdateVisible状态
      terminalAddVisible: false,
      approveVisible: false, // 审批弹窗 ,默认为false
      indexStart: 1
    }
  },
  mounted () {
    this.getDataList()
  },
  methods: {
    init () {
    },
    getDataList () {
      let params = {
        order: this.order,
        orderField: this.orderField,
        page: this.page,
        limit: this.limit,
        ...this.dataForm }
      this.indexStart = (this.page - 1) * this.limit + 1
      this.dataListLoading = true
      api.page(params).then((data) => {
        this.dataList = data.records
        this.total = data.total * 1
      }).catch((err) => {
        this.dataListLoading = false
        util.$message.showInfo2(err)
      })
      this.dataListLoading = false
    },
    // 分页, 每页条数
    pageSizeChangeHandle (val) {
      this.page = 1
      this.limit = val
      this.getDataList()
    },
    // 分页, 当前页
    pageCurrentChangeHandle (val) {
      this.page = val
      this.getDataList()
    },
    // checkbox改变
    dataListSelectionChangeHandle (val) {
      this.dataListSelections = val
    },
    // 排序
    dataListSortChangeHandle (data) {
      if (!data.order || !data.prop) {
        this.order = ''
        this.orderField = ''
        return false
      }
      this.order = data.order
      this.orderField = data.prop
      this.getDataList()
    },
    //  新增或修改
    addOrUpdateHandle (id) {
      this.addOrUpdateVisible = true
      this.$nextTick(() => {
        this.$refs.addOrUpdate.dataForm.id = id
        this.$refs.addOrUpdate.init()
      })
    },
    async deleteHandle (id) {
      if (!id && this.dataListSelections.length <= 0) {
        return util.$message.showInfo2('请选择需要删除的项')
      }
      let ok = await util.$message.showYesNo('是否确定删除选择的项目?')
      if (!(ok && ok === 'confirm')) {
        return ''
      }
      let data = id ? [id] : this.dataListSelections.map(item => item['id'])
      await api.remove(data)
      this.getDataList()
    },
    // 导出
    exportHandle () {
      api.exportXls(this.dataForm)
    },
    publishHandle (id) {
      this.terminalAddVisible = true
      this.$nextTick(() => {
        // this.$refs.terminalAdd.dataForm.id = id
        this.$refs.terminalAdd.init()
      })
    },
    approveHandle (id) {
      this.approveVisible = true
      this.$nextTick(() => {
        this.$refs.approve.programId = id
        this.$refs.approve.init()
      })
    }
  }
}
</script>
<style lang="scss">
  .icon-image{
    height: 30px !important;
  }
</style>
