<template>
  <el-dialog id="eldialog" ref="eldialog" :title="title" :visible.sync="visible" width="1900px" @close="cancelHandle()">
    <el-form :model="dataForm" :rules="dataRule" label-width="90px" ref="dataForm" size="small">
      <el-row :gutter="0">
        <el-col :span="5">
          <el-form-item prop="name" label="节目名称">
            <el-input clearable placeholder="节目名称" v-model="dataForm.name"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="5">
          <el-form-item prop="type" label="模板">
            <el-select filterable required v-model="dataForm.type"  placeholder="请选择" @change="typeSelectHandle">
              <el-option
                v-for="item in optionsTemplate"
                :key="item.key"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <!--<el-col :span="5">-->
          <!--<el-form-item prop="customerId" label="客户">-->
            <!--<el-select filterable clearable v-model="dataForm.customerId"  placeholder="请选择" @change="typeSelectHandle">-->
              <!--<el-option-->
                <!--v-for="item in optionsCustomer"-->
                <!--:key="item.key"-->
                <!--:label="item.label"-->
                <!--:value="item.value">-->
              <!--</el-option>-->
            <!--</el-select>-->
          <!--</el-form-item>-->
        <!--</el-col>-->
        <el-col :span="6">
          <el-form-item prop="remark" label="备注">
            <el-input clearable placeholder="备注" v-model="dataForm.remark"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="3" style="padding-left: 20px">
          <el-button v-if="previewSpanActive" type="primary" icon="el-icon-video-play" size="small" @click="prewiewHandle">预览节目</el-button>
          <el-button v-if="previewActive" type="primary" icon="el-icon-switch-button" size="small"  @click="prewiewHandle">停止预览</el-button>
        </el-col>
      </el-row>
      <div class="diglog-content">
        <div class="resource-content">
          <div class="fix-content">
            <div class="content-title">资源栏</div>
            <div class="toolbar-content-bootom">
              <template>
                <el-table
                  :data="resourceList"
                  height="62vh"
                  style="width: 100%">
                  <el-table-column prop="name" label="名称" width="125" header-align="center" align="center">
                    <template slot-scope="scope">
                      <div :title=scope.row.name>{{scope.row.name}}</div>
                    </template>
                  </el-table-column>
                  <el-table-column prop="path" label="资源预览" width="120" header-align="center" align="center">
                    <template slot-scope="scope">
                      <div v-if="scope.row.type == 1" class="text-content-show">
                        <el-image
                          style="width: 100px; height: auto"
                          :src="$imghttp+scope.row.path"
                          :preview-src-list="[$imghttp+scope.row.path]">
                        </el-image>
                      </div>
                      <div v-if="scope.row.type == 3">
                        <video
                          style="width: 230px; height: 140px"
                          controls
                          :src="$imghttp+scope.row.path">
                        </video>
                      </div>
                      <div v-if="scope.row.type == 4" class="text-content-show" :title=scope.row.textContent>
                        {{scope.row.textContent}}
                      </div>
                      <div v-if="scope.row.type == 5">
                        <a :href=scope.row.urlPath target="_blank">{{scope.row.urlPath}}</a>
                      </div>
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="操作">
                    <template slot-scope="scope">
                      <i class="el-icon-circle-plus-outline resource-handle-icon" @click="resourceHandleClick(scope.row, '1')"></i>
                      <!--<i class="el-icon-remove-outline resource-handle-icon" @click="resourceHandleClick(scope.row)"></i>-->
                    </template>
                  </el-table-column>
                </el-table>
              </template>
            </div>
            <div class="attention-point"><i class="el-icon-s-opportunity"></i>：点击模板区组件，此区域出现对应资源供选择</div>
          </div>
        </div>
        <div class="canvas-content">
          <div class="content-title">
            <div class="content-title-word">模板区</div>
          </div>
          <div class="canvas-content-bootom" :style="canvasStyle" >
            <div class="canvas-in-content" ref="previewCanvas" :style="{'background-color':previewStyle }">
              <!--v-for循环list展现各组件-->
              <!--非预览界面：点击激活，绑定各数据-->
              <div v-if="previewSpanActive">
                <vue-drag-resize
                  style="border: 1px solid #004EA2"
                  v-for="item in templateItem.dragResourceList" :key="item.id"
                  :isActive="false"
                  :parentH="parentH"
                  :parentW="parentW"
                  :w="item.w"
                  :h="item.h"
                  :x="item.x"
                  :y="item.y"
                  :z="item.z"
                  :minw="50"
                  :minh="50"
                  :isDraggable="false"
                  :isResizable="false"
                  :parentLimitation="true"
                  :style="moduleList[item.type].styleColor"
                  @clicked="resourceHandle(item.id, item.type)">
                  <span><i :class="moduleList[item.type].icon" style="font-size: 3rem; text-align: center"></i></span>
                </vue-drag-resize>
              </div>
              <!--预览界面-->
              <div v-if="previewActive">
                <vue-drag-resize
                  v-for="item in templateItem.dragResourceList" :key="item.id"
                  :isActive="false"
                  :parentH="parentH"
                  :parentW="parentW"
                  :w="item.w"
                  :h="item.h"
                  :x="item.x"
                  :y="item.y"
                  :z="item.z"
                  :minw="50"
                  :minh="50"
                  :isDraggable="false"
                  :isResizable="false"
                  :parentLimitation="true">
                  <div v-if="previewActive && item.type == 0">
                    <video
                      class="moudel-prview"
                      autoplay
                      loop
                      :src="$imghttp+item.remark">
                    </video>
                  </div>
                  <!--<div v-if="previewActive && item.type == 1">-->
                    <!--<audio-->
                      <!--class="moudel-prview"-->
                      <!--autoplay-->
                      <!--loop-->
                      <!--:src="$imghttp+item.remark">-->
                    <!--</audio>-->
                  <!--</div>-->
                  <div v-if="previewActive && item.type == 2">
                    <el-image
                      :style="{'width': item.w+'px', 'height': item.h+'px'}"
                      :src="$imghttp+item.remark">
                    </el-image>
                  </div>
                  <div v-if="previewActive && item.type == 3" class="moudel-prview">
                    <el-carousel :height="item.h" :style="{'width': item.w+'px', 'height': item.h+'px'}" :interval="item.intervalTime * 1000" indicator-position="none" arrow="never">
                      <el-carousel-item v-for="ii in dataForm.picList" :key="ii.id" :style="{'width': item.w+'px', 'height': item.h+'px'}">
                        <el-image
                          :style="{'width': item.w+'px', 'height': item.h+'px'}"
                          :src="$imghttp+ii.remark">
                        </el-image>
                      </el-carousel-item>
                    </el-carousel>
                    <!--<ul class="moudel-prview" :style="{'width': (item.w * dataForm.picList.length) +'px', 'animation': 'move ' + item.intervalTime +'s infinite'}">-->
                      <!--<li v-for="ii in dataForm.picList" :key="ii.id" :style="{'width': item.w+'px', 'height': item.h+'px'}">-->
                        <!--<el-image-->
                          <!--class="moudel-prview"-->
                          <!--:src="$imghttp+ii.remark">-->
                        <!--</el-image>-->
                      <!--</li>-->
                    <!--</ul>-->
                  </div>
                  <div v-if="previewActive && item.type == 4" class="moudel-prview merquee" :style="{'width':  '100%', 'color':item.fontColor , 'font-size' : item.fontWeight + 'rem', 'line-height': '1 rem'}">
                    <span class="merquee-txt" :style="{animation: 'marqueeTransform ' + item.intervalTime + 's linear infinite'}">
                      {{item.remark}}
                    </span>
                  </div>
                  <div v-if="previewActive && item.type == 5" class="moudel-prview">
                    <iframe
                      :width="item.w"
                      :height="item.h"
                      frameborder="0"
                      allowfullscreen="true"
                      webkitallowfullscreen="true"
                      mozallowfullscreen="true"
                      oallowfullscreen="true"
                      msallowfullscreen="true"
                      :src="item.remark"></iframe>
                  </div>
                </vue-drag-resize>
              </div>
            </div>
          </div>
        </div>
        <div class="property-content">
          <div class="content-title">节目设置</div>
          <div class="property-content-bootom">
            <!--<div class="property-content-item"  v-show="activeType == '3' || activeType == '4'">-->
              <!--<div class="property-content-item-title">是否循环</div>-->
              <!--<div class="property-content-item-content">-->
                <!--<el-switch-->
                  <!--v-model="loopValue"-->
                  <!--active-color="#13ce66"-->
                  <!--inactive-color="#ff4949"-->
                  <!--active-value="1"-->
                  <!--inactive-value="0"-->
                  <!--@input="propertyChangeHandle">-->
                <!--</el-switch>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="property-content-item" v-show="activeType == '3' || activeType == '4'">-->
              <!--<div class="property-content-item-title">循环间隔间隔</div>-->
              <!--<div class="property-content-item-content">-->
                <!--<el-input-number :min="0" controls-position="right" v-model="intervalTime" style="width: 100%" @input="propertyChangeHandle"/>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="property-content-item" v-show="activeType == '4'">-->
              <!--<div class="property-content-item-title">文本字体大小</div>-->
              <!--<div class="property-content-item-content">-->
                <!--<el-input-number :min="0" controls-position="right" v-model="fontWeight" style="width: 100%" @input="propertyChangeHandle"/>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="property-content-item" v-show="activeType == '4'">-->
              <!--<div class="property-content-item-title">文本字体颜色</div>-->
              <!--<div class="property-content-item-content">-->
                <!--<el-color-picker v-model="fontColor" @input="propertyChangeHandle"></el-color-picker>-->
              <!--</div>-->
            <!--</div>-->
            <div class="property-content-item-resource">
              <div>
                <el-table
                  :data="selectResourceList"
                  height="62vh"
                  style="width: 100%;">
                  <el-table-column prop="name" label="名称" width="125" header-align="center" align="center">
                    <template slot-scope="scope">
                      <div :title=scope.row.name>{{scope.row.name}}</div>
                    </template>
                  </el-table-column>
                  <el-table-column prop="path" label="资源预览" width="125" header-align="center" align="center">
                    <template slot-scope="scope">
                      <div v-if="scope.row.type == 1">
                        <el-image
                          style="width: 100px; height: auto"
                          :src="$imghttp+scope.row.path"
                          :preview-src-list="[$imghttp+scope.row.path]">
                        </el-image>
                      </div>
                      <div v-if="scope.row.type == 3">
                        <video
                          style="width: 250px; height: 140px"
                          controls
                          :src="$imghttp+scope.row.path">
                        </video>
                      </div>
                      <div v-if="scope.row.type == 4"  class="text-content-show" :title=scope.row.textContent>
                        {{scope.row.textContent}}
                      </div>
                      <div v-if="scope.row.type == 5">
                        <a :href=scope.row.urlPath target="_blank">{{scope.row.urlPath}}</a>
                      </div>
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="操作">
                    <template slot-scope="scope">
                      <!--<i class="el-icon-circle-plus-outline resource-handle-icon" @click="resourceHandleClick(scope.row)"></i>-->
                      <i class="el-icon-remove-outline resource-handle-icon" @click="resourceHandleClick(scope.row, '2')"></i>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </el-form>
    <template slot="footer">
      <el-button size="small" @click="cancelHandle()">{{ $t('cancel') }}</el-button>
      <el-button size="small" @click="dataFormSubmitHandle()" type="primary" v-loading="loading">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>
<script>
import * as api from './api'
import util from '@/libs/util'
export default {
  data () {
    return {
      previewActive: false,
      previewSpanActive: true,
      previewStyle: '#EOEEEE;',
      activeId: '',
      activeType: '',
      visible: false,
      title: '',
      loopValue: '1',
      intervalTime: 1,
      fontColor: '#000000',
      fontWeight: 2,
      dataForm: {
        id: '',
        name: '',
        marker: '1',
        type: '',
        dragResourceList: [],
        picList: [],
        remark: '',
        customerId: '',
        datePiker: []
      },
      loading: false,
      templateList: [], // 查询的所有模板列表
      optionsTemplate: [], // 下拉选择框，模板列表
      custormerList: [], // 查询的所有模板列表
      optionsCustomer: [],
      templateItem: {
        id: '',
        name: '',
        marker: '',
        bgType: '',
        bgColor: '',
        dragResourceList: [],
        remark: ''
      },
      dialogVisible: false,
      parentH: 300,
      parentW: 960,
      canvasStyle: 'width: 960px; height: 300px;',
      selectResourceList: [], // 节目栏已选资源
      resourceList: [], // 资源栏资源
      moduleList: [
        { styleColor: 'background-color: #81D8D0', icon: 'el-icon-film' },
        { styleColor: 'background-color: #ffffcc', icon: 'el-icon-microphone' },
        { styleColor: 'background-color: #ccffcc', icon: 'el-icon-picture-outline' },
        { styleColor: 'background-color: #FFE4E1', icon: 'el-icon-money' },
        { styleColor: 'background-color: #CAE1FF', icon: 'el-icon-document' },
        { styleColor: 'background-color: #EEC900', icon: 'el-icon-video-camera' },
        { styleColor: 'background-color: #F08080', icon: 'el-icon-time' },
        { styleColor: 'background-color: #EEAEEE', icon: 'el-icon-sunny' }
      ]
    }
  },
  computed: {
    dataRule () {
      return {
        name: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        type: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        // customerId: [
        //   { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        // ],
        datePiker: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ]
      }
    }
  },
  created () {
  },
  methods: {
    init () {
      this.title = !this.dataForm.id ? this.$t('add') : this.$t('update')
      this.visible = true
      this.getTemplateList()
      this.getCustomer()
      this.previewStyle = '#EOEEEE'
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        this.dataForm.type = ''
        this.dataForm.dragResourceList = []
        this.dataForm.picList = []
        this.dataForm.remark = ''
        this.dataForm.datePiker = []
        this.templateItem = {
          id: '',
          name: '',
          marker: '',
          bgType: '',
          bgColor: '',
          dragResourceList: [],
          remark: ''
        }
        if (this.dataForm.id) this.getInfo()
      })
    },
    // 获取信息
    getInfo () {
      api.info(this.dataForm.id).then(data => {
        // 初始化加载数据 picEntityList、wlProgramEntity、wlTemplateEntity
        this.dataForm = data.wlProgramEntity
        // 时间
        this.dataForm.datePiker = [data.wlProgramEntity.onDatetime, data.wlProgramEntity.offDatetime]
        this.dataForm.picList = data.picEntityList
        this.templateItem = data.wlTemplateEntity
        this.previewStyle = this.templateItem.bgColor
      })
    },
    cancelHandle () {
      this.visible = false
      this.selectResourceList = []
    },
    // 表单提交
    async dataFormSubmitHandle () {
      let valid = await this.$refs.dataForm.validate().catch(() => {
        return util.$message.showInfo2('校验错误')
      })
      // 将选择的相关数据保存赋值，并检验是否有空资源
      // 检查
      var result = true
      this.templateItem.dragResourceList.findIndex(item => {
        if (item.type !== '3' && item.resourceId === '') {
          util.$message.showInfo2('存在组件没有选择资源，请检查并添加')
          result = false
        } else if (item.type === '3') {
          // 检查picList对应的资源=
          if (this.dataForm.picList.length > 0) {
            var flag = this.dataForm.picList.findIndex(item => {
              if (item.moudleId === item.id) {
                result = true
              }
            })
            if (flag === '-1') {
              util.$message.showInfo2('存在组件没有选择资源，请检查并添加')
              return false
            }
          }
        }
      })
      // 赋值
      this.dataForm.dragResourceList = this.templateItem.dragResourceList
      if (!result) return // 待检验：可行
      if (!valid) return
      this.loading = true
      let method = this.dataForm.id ? 'put' : 'post'
      await api.save(this.dataForm, method).catch((err) => {
        this.loading = false
        throw err
      })
      this.loading = false
      this.visible = false
      this.dataForm = {
        id: '',
        name: '',
        marker: '1',
        type: '',
        dragResourceList: [],
        picList: [],
        remark: '',
        datePiker: ''
      }
      this.templateItem = {
        id: '',
        name: '',
        marker: '',
        bgType: '',
        bgColor: '',
        dragResourceList: [],
        remark: ''
      }
      this.previewStyle = '#EOEEEE'
      this.selectResourceList = [] // 节目栏已选资源
      this.resourceList = [] // 资源栏资源
      this.$refs['dataForm'].resetFields()
      this.$emit('refreshDataList', this.dataForm)
    },
    markerHandle () {
      if (this.dataForm.marker === '1') {
        this.dataForm.marker = '0'
      } else {
        this.dataForm.marker = '1'
      }
    },
    typeSelectHandle () {
      // this.dataForm.type:绑定模板id
      if (this.dataForm.type != null && this.dataForm.type !== '') {
        this.resourceList = []
        this.selectResourceList = []
        var id = this.dataForm.type
        api.templateInfo(id).then(data => {
          this.templateItem = data
          if (this.templateItem.bgType === '1') {
            this.canvasStyle = 'width: 960px; height: 300px;'
            this.parentH = 300
            this.parentW = 960
          } else {
            this.canvasStyle = 'width: 366px; height: 650px;'
            this.parentH = 650
            this.parentW = 366
          }
          // 赋文本属性
          this.templateItem.dragResourceList = this.templateItem.dragList
          this.templateItem.dragResourceList.findIndex(item => {
            if (item.type === '4') {
              item.itemStyle = 'width: 100%; color: ' + item.fontColor + '; font-size: ' + item.fontWeight + 'rem; line-height: ' + 2 + 'rem;'
            }
          })
        })
      }
    },
    // 获取模板列表
    getTemplateList () {
      this.dataListLoading = true
      api.templateList().then((data) => {
        this.optionsTemplate = []
        this.templateList = data
        for (var i = 0; i < this.templateList.length; i++) {
          var item = { value: '', label: '', key: '' }
          item.value = this.templateList[i].id
          item.label = this.templateList[i].name
          item.key = this.templateList[i].id
          this.optionsTemplate.push(item)
        }
      }).catch((err) => {
        this.dataListLoading = false
        util.$message.showInfo2(err)
      })
      this.dataListLoading = false
    },
    // 添加资源事件
    resourceHandle (val1, val2) {
      // 根据type选择资源，根据id保存资源
      // type: val2; id: val1
      this.activeId = val1 // 活跃组件id
      this.activeType = val2 // 活跃组件类型
      // 展示属性
      this.propertyShowHandle(val1)
      // 展示资源
      this.selectReasourceByType(val2)
    },
    // 根据type选择资源
    selectReasourceByType (val) {
      // 节目资源已设置资源置空
      this.selectResourceList = []
      // 根据type查询响应的资源展示在资源栏
      api.selectReasourceByType(val).then(data => {
        this.resourceList = data
        // 查询该类资源是否已选，已选在节目设置中展示，根据type分类查询
        if (this.resourceList.length > 0) {
          if (this.activeType === '3') {
            // 轮播图资源, 根据组件id找出资源picList中图片集合的resourceId ==》 moudleId，再从resourceList查出相应资源记录
            if (this.dataForm.picList.length > 0) {
              var index = this.templateItem.dragResourceList.findIndex(item => {
                if (item.id === this.activeId) {
                  return true
                }
              })
              // 拿到resourceId(pid表中的moudleId), 从资源列表中找相应资源
              if (index !== '-1') {
                var moudleId = this.templateItem.dragResourceList[index].resourceId
                this.dataForm.picList.findIndex(it => {
                  if (it.moudleId === moudleId) {
                    // 拿到resourceId，比对后放入已选list
                    var id = this.resourceList.findIndex(item => {
                      if (item.id === it.resourceId) {
                        return true
                      }
                    })
                    if (id !== '-1') {
                      this.selectResourceList.push(this.resourceList[id])
                    }
                  }
                })
              }
            }
          } else {
            // 非轮播图资源
            // 根据组件id找出resourId, 从resourceList查出相应资源记录
            var index1 = this.templateItem.dragResourceList.findIndex(item => {
              if (item.id === this.activeId) {
                return true
              }
            })
            var resourceId = ''
            if (index1 !== '-1') {
              resourceId = this.templateItem.dragResourceList[index1].resourceId
            }
            // 判null,判空
            if (resourceId != null && resourceId !== '') {
              var id = this.resourceList.findIndex(item => {
                if (item.id === resourceId) {
                  return true
                }
              })
              if (id !== '-1') {
                this.selectResourceList.push(this.resourceList[id])
              }
            }
          }
        }
      })
    },
    // 从资源栏中添加或移除资源至节目中
    resourceHandleClick (val1, val2) {
      // val1: 节目展示资源元素
      // val2: 操作类型：1 添加， 2 移除
      // 添加资源时，把资源路径带给remark，方便预览
      if (val2 === '1') {
        // 判断是否为轮播图组件
        if (this.activeType === '3') {
          // picList添加
          var item = {
            id: '',
            moudleId: '',
            resourceId: '',
            remark: ''
          }
          item.id = this.dataForm.picList.length
          item.moudleId = this.activeId
          item.resourceId = val1.id
          item.remark = val1.path
          this.dataForm.picList.push(item)
          // 添加至节目已选资源
          this.selectResourceList.push(val1)
        } else {
          // 判断是否已有资源
          if (this.selectResourceList.length > 0) {
            util.$message.showError('此资源仅能选择一项，如需更换资源请删除后再进行添加')
          } else {
            // 更新组件元素的资源id
            var ind = this.templateItem.dragResourceList.findIndex(item => {
              if (item.id === this.activeId) {
                return true
              }
            })
            if (ind !== '-1') {
              this.templateItem.dragResourceList[ind].resourceId = val1.id
              // 根据资源类型，添加当前选中资源路径
              if (this.activeType === '0' || this.activeType === '1' || this.activeType === '2') {
                this.templateItem.dragResourceList[ind].remark = val1.path
              } else if (this.activeType === '4') {
                this.templateItem.dragResourceList[ind].remark = val1.textContent
              } else if (this.activeType === '5') {
                this.templateItem.dragResourceList[ind].remark = val1.urlPath
              }
            }
            // 添加至节目已选资源
            this.selectResourceList.push(val1)
          }
        }
      } else if (val2 === '2') {
        // 判断是否为轮播图组件
        if (this.activeType === '3') {
          // 先找出组件id, 在通过组件id找出picList资源id
          var id = this.dataForm.picList.findIndex(item => {
            if (item.moudleId === this.activeId && item.resourceId === val1.id) {
              return true
            }
          })
          if (id !== '-1') {
            this.dataForm.picList.splice(id, 1)
          }
          // 从节目已选资源删除
          var selectId = this.selectResourceList.findIndex(item => {
            if (item.id === val1.id) {
              return true
            }
          })
          if (selectId !== '-1') {
            this.selectResourceList.splice(selectId, 1)
          }
        } else {
          // 更新组件元素的资源id ； 若无匹配index为-1
          var index = this.templateItem.dragResourceList.findIndex(item => {
            if (item.resourceId === val1.id) {
              return true
            }
          })
          if (index !== '-1') {
            this.templateItem.dragResourceList[index].resourceId = ''
          }
          // 从节目已选资源删除
          var selectedId = this.selectResourceList.findIndex(item => {
            if (item.id === val1.id) {
              return true
            }
          })
          if (selectId !== '-1') {
            this.selectResourceList.splice(selectedId, 1)
          }
        }
      }
    },
    // 节目预览处理
    prewiewHandle () {
      this.previewActive = !this.previewActive
      this.previewSpanActive = !this.previewSpanActive
    },
    // 展示属性
    propertyShowHandle (activeId) {
      // 找出活跃的组件，修改属性
      var index = this.templateItem.dragResourceList.findIndex(item => {
        if (item.id === activeId) {
          return true
        }
      })
      if (index !== '-1') {
        this.loopValue = this.templateItem.dragResourceList[index].loopValue
        this.intervalTime = this.templateItem.dragResourceList[index].intervalTime
        this.fontColor = this.templateItem.dragResourceList[index].fontColor
        this.fontWeight = this.templateItem.dragResourceList[index].fontWeight
      }
    },
    // 修改属性
    propertyChangeHandle () {
      // 找出活跃的组件，修改属性
      var index = this.templateItem.dragResourceList.findIndex(item => {
        if (item.id === this.activeId) {
          return true
        }
      })
      if (index !== '-1') {
        this.templateItem.dragResourceList[index].loopValue = this.loopValue
        this.templateItem.dragResourceList[index].intervalTime = this.intervalTime
        this.templateItem.dragResourceList[index].fontColor = this.fontColor
        this.templateItem.dragResourceList[index].fontWeight = this.fontWeight
        this.templateItem.dragResourceList[index].itemStyle = 'width: 100%; color: ' + this.fontColor + '; font-size: ' + this.fontWeight + 'rem; line-height: ' + 2 + 'rem;'
      }
    },
    getCustomer () {
      this.dataListLoading = true
      api.getCustomerlist().then((data) => {
        this.optionsCustomer = []
        this.custormerList = data
        for (var i = 0; i < this.custormerList.length; i++) {
          var item = { value: '', label: '', key: '' }
          item.value = this.custormerList[i].id
          item.label = this.custormerList[i].name
          item.key = this.custormerList[i].id
          this.optionsCustomer.push(item)
        }
      }).catch((err) => {
        this.dataListLoading = false
        util.$message.showInfo2(err)
      })
      this.dataListLoading = false
    }
  }
}
</script>
<style>
  .diglog-content{
    width: 100%;
    min-width: 1400px;
    height: 70vh;
    display: flex;
    /*space-between*/
    justify-content: center;
  }
  .resource-content{
    width: 19%;
    min-width: 330px;
    height: 70vh;
    float: left;
    border: 1px solid #81d8d0;
  }
  .canvas-content{
    width: 60%;
    min-width: 1000px;
    height: 70vh;
    float: left;
    border: 1px solid #81d8d0;
  }
  .property-content{
    width: 19%;
    min-width: 330px;
    float: left;
    height: 70vh;
    border: 1px solid #81d8d0;
  }
  .content-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    background-color: rgb(235, 241, 246);
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
  }
  .canvas-content-bootom{
    text-align: center;
    background-color: #E0EEEE;
    position: relative;
    left: 50%;
    top: 47%;
    transform: translate(-50%,-50%);
  }
  .content-title-word{
    float: left;
  }
  .property-content-bootom{
    text-align: center;
  }
  .property-content-item{
    float: left;
    /*display: flex;*/
    /*justify-content: space-between;*/
    width: 80%;
    min-width: 200px;
    margin: 20px 10% 0px 10%;
    height: 32px;
    line-height: 32px;
  }
  .property-content-item-title{
    width: 100px;
    float: left;
    text-align: left;
  }
  .property-content-item-content{
    width: 60%;
    min-width: 150px;
    float: right;
    height: 32px;
  }
  .property-content-item-bg-color{
    width: 60%;
    min-width: 150px;
    float: right;
    height: 32px;
    /*background-color: #004EA2;*/
  }
  .property-content-item-resource{
    float: left;
    width: 100%;
    min-width: 200px;
    margin: 20px 0px 0px 0px;
  }
  .fix-content{
    position: relative;
    width: 100%;
    height: 100%
  }
  .toolbar-content-bootom{
    text-align: center;
  }
  .attention-point{
    line-height: 40px;
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    left: 5px;
    bottom: 0px;
    color: red;
  }
  .text-content-show{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .resource-handle-icon{
    width: 38px;
    font-size: 2rem;
  }
  .canvas-in-content{
    width: 100%;
    height: 100%;
  }
  .moudel-prview{
    width: 100%;
    height: 100%;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    overflow: hidden;
  }
  /*跑马灯样式*/
  .merquee{
    line-height: 45px;
    box-sizing: border-box;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
  }
  .merquee-txt{
    display: inline-block;
    /* 从右至左开始滚动 */
    padding-left: 100%;
    /* 从左至右开始滚动 */
    /*padding-right: 100%;*/
    /* linear: 匀速； ease-in：慢入；ease-out：慢出 */
    animation: marqueeTransform 30s linear infinite;
  }
  @keyframes marqueeTransform {
    /* 正值：向右，向下 */
    0%   { transform: translate(0, 0); }
    /* 从右至左开始滚动 */
    100% { transform: translate(-100%, 0); }
    /* 从左至右开始滚动 */
    /*100% { transform: translate(100%, 0); }*/
  }
  /*轮播图样式*/
  ul{/*无序列表默认存在内外边距 需要去掉*/
    margin: 0;
    padding: 0;
    list-style-type: none;
    /*取消无序列表内的disc（小黑圆点）*/
  }
  .moudel-prview ul{;
    transform: translate(0px);
    /*animation: move 9s infinite;*/
    /*动画：移动 9s 不停地*/
  }
  .moudel-prview ul li{
    float:left;
    /*float:left如果不清除，很容易对下面的
    div造成显示错位*/
  }
  @keyframes move{ /*关键动画帧 0%-100%*/
    0%{
      transform: translate(0px);
    }
    50%{
      transform: translate(-554px);
    }
    100%{
      transform: translate(-1084px);
    }
  }
  .el-carousel__container{
    width: 100% !important;
    height: 100% !important;
  }
</style>
