<template>
    <el-dialog id="eldialog" ref="eldialog" title="选择终端" :visible.sync="visible" top="6vh" width="900px" @close="addDialogClosed" >
        <el-form :inline="true" @keyup.enter.native="getDataList()" size="small">
            <el-form-item>
                <el-input v-model="dataForm.name" placeholder="名称" clearable></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="getDataList()">查询</el-button>
            </el-form-item>
        </el-form>
        <el-table
                ref="listTable"
                :data="dataList"
                @selection-change="dataListSelectionChangeHandle"
                @sort-change="dataListSortChangeHandle"
                stripe
                highlight-current-row
                :height="heightY-topY+'px'"
                border
                style="width: 100%;margin-top: -10px"
                size="small"
                v-loading="dataListLoading">
            <el-table-column align="center" header-align="center" type="index" :index="indexStart" width="50" fixed></el-table-column>
            <el-table-column align="center" header-align="center" type="selection" width="50" fixed></el-table-column>
            <el-table-column prop="name" label="名称" header-align="center" align="center"></el-table-column>
            <el-table-column prop="status" label="状态" header-align="center" align="center">
                <template slot-scope="scope">
                    <img v-if="scope.row.status == 1" src="../../image/normal.png" class="icon-image">
                    <img v-else src="../../image/abnormal.png" class="icon-image">
                </template>
            </el-table-column>
            <el-table-column prop="groupName" label="分组" header-align="center" align="center"></el-table-column>
            <el-table-column prop="onOff" label="开关" header-align="center" align="center">
                <template slot-scope="scope">
                    <img v-if="scope.row.onOff == 1" src="../../image/on.png" class="icon-image">
                    <img v-else src="../../image/off.png" class="icon-image">
                </template>
            </el-table-column>
        </el-table>
        <el-pagination style="margin: 5px 0px -15px"
                       :current-page="page"
                       :page-size="limit"
                       :page-sizes="[10, 20, 50, 100]"
                       :total="total"
                       @current-change="pageCurrentChangeHandle"
                       @size-change="pageSizeChangeHandle"
                       layout="total, sizes, prev, pager, next, jumper">
        </el-pagination>
        <template slot="footer">
            <el-button size="small" @click="visible = false">{{ $t('cancel') }}</el-button>
            <el-button size="small" @click="dataFormSubmitHandle()" type="primary" v-loading="loading">{{ $t('confirm') }}</el-button>
        </template>
    </el-dialog>
</template>
<script>
import * as api from '../../terminal/equipmentInfo/api'
import util from '@/libs/util'
export default {
  data () {
    return {
      heightY: document.body.clientHeight - 150,
      topY: 200,
      visible: false,
      title: '',
      programId: '',
      dataForm: {
        // 包含
        id: '',
        name: '',
        type: ''
      },
      loading: false,
      dataList: [],
      pointList: [],
      multipleSelection: [],
      id: '',
      order: '', // 排序，asc／desc
      orderField: '', // 排序，字段
      page: 1, // 当前页码
      limit: 20, // 每页数 limit 不能与字段重复
      total: 0, // 总条数
      dataListLoading: false, // 装载数据
      dataListSelections: [], // 数据列表，多选项
      indexStart: 1
    }
  },
  methods: {
    init: function () {
      this.visible = true
      this.getDataList()
    },
    // 获取信息
    getDataList () {
      let params = {
        order: this.order,
        orderField: this.orderField,
        page: this.page,
        limit: this.limit,
        ...this.dataForm }
      this.indexStart = (this.page - 1) * this.limit + 1
      this.dataListLoading = true
      return api.page(params).then((data) => {
        this.dataList = data.records
        this.total = data.total * 1
        this.heightY = data.total * 1
        this.dataListLoading = false
        return data.records
      }).catch((err) => {
        this.dataListLoading = false
        util.$message.showInfo2(err)
      })
    },
    // 分页, 当前页
    pageCurrentChangeHandle (val) {
      this.page = val
      this.getDataList()
    },
    // checkbox改变
    dataListSelectionChangeHandle (val) {
      this.dataListSelections = val
    },
    // 排序
    dataListSortChangeHandle (data) {
      if (!data.order || !data.prop) {
        this.order = ''
        this.orderField = ''
        return false
      }
      this.order = data.order
      this.orderField = data.prop
      this.getDataList()
    },
    // 分页, 每页条数
    pageSizeChangeHandle (val) {
      this.page = 1
      this.limit = val
      this.getDataList()
    },
    // dialog 关闭的时候重置表单重新查询加载数据。
    addDialogClosed () {
      // this.$refs.dataForm.resetFields()
      this.dataForm.name = ''
      this.limit = 20
      this.page = 1
      this.getDataList()
    },
    // 表单提交：单个提交
    async dataFormSubmitHandle (id) {
      let data = id ? [id] : this.dataListSelections.map(item => item['id'])
      for (var i = 0; i < data.length; i++) {
        let params = {
          id: this.programId,
          data: data[i] }
        await api.start(params).then(data => {
          this.$message(data)
        })
      }
      this.$emit('refreshDataList')
      this.visible = false
    }
    // 表单提交：批量提交
    // async dataFormSubmitHandle (id) {
    //   let data = id ? [id] : this.dataListSelections.map(item => item['id'])
    //   let params = {
    //     id: this.programId,
    //     data: data }
    //   await api.start(params).then(data => {
    //     this.$message(data)
    //   })
    //   this.$emit('refreshDataList')
    //   this.visible = false
    // }
  }
}
</script>
<style>
</style>
