<template>
  <el-dialog :title="title" :visible.sync="visible" top="6vh" width="1900px">
    <el-form :model="dataForm" :rules="dataRule" label-width="90px" ref="dataForm" size="small">
      <el-row :gutter="20">
        <el-col :span="4">
          <el-form-item prop="name" label="模板名称">
            <el-input clearable placeholder="模板名称" v-model="dataForm.name"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item prop="bgType" label="模板类型">
            <el-select filterable required v-model="dataForm.bgType"  placeholder="请选择" @change="typeSelectHandle">
              <el-option
                v-for="item in optionsType"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="2">
          <el-form-item prop="marker" label="关注">
            <div v-if="dataForm.marker == '1'" style="color: red; font-size: 1.6rem;">
              <i class="el-icon-star-on" @click="markerHandle"></i>
            </div>
            <div v-else  style="font-size: 1.6rem;">
              <i class="el-icon-star-on" @click="markerHandle"></i>
            </div>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item prop="remark" label="备注">
            <el-input clearable placeholder="备注" v-model="dataForm.remark"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <div class="diglog-content">
        <div class="toolbar-content">
          <div class="fix-content">
            <div class="content-title">工具栏</div>
            <div class="toolbar-content-bootom">
              <div>
                <el-button class="toolbar-button" type="primary" plain size="small" :icon="this.moduleList[0].icon" @click="toolbarHandle('0')">视频</el-button>
              </div>
              <div>
                <el-button class="toolbar-button" type="primary" plain size="small" :icon="this.moduleList[1].icon" @click="toolbarHandle('1')">音频</el-button>
              </div>
              <div>
                <el-button class="toolbar-button" type="primary" plain size="small" :icon="this.moduleList[2].icon" @click="toolbarHandle('2')">图片</el-button>
              </div>
              <div>
                <el-button class="toolbar-button" type="primary" plain size="small" :icon="this.moduleList[3].icon" @click="toolbarHandle('3')">轮播图</el-button>
              </div>
              <div>
                <el-button class="toolbar-button" type="primary" plain size="small" :icon="this.moduleList[4].icon" @click="toolbarHandle('4')">文本</el-button>
              </div>
              <div>
                <el-button class="toolbar-button" type="primary" plain size="small" :icon="this.moduleList[5].icon" @click="toolbarHandle('5')">直播</el-button>
              </div>
              <div>
                <el-button class="toolbar-button" type="primary" plain size="small" :icon="this.moduleList[6].icon" @click="toolbarHandle('6')">时钟</el-button>
              </div>
              <div>
                <el-button class="toolbar-button" type="primary" plain size="small" :icon="this.moduleList[7].icon" @click="toolbarHandle('7')">天气</el-button>
              </div>
            </div>
            <div class="attention-point"><i class="el-icon-s-opportunity"></i>：点击此处按钮添加组件</div>
          </div>
        </div>
        <div class="canvas-content">
          <div class="fix-content">
            <div class="content-title">
              <div class="content-title-word">画布区</div>
              <!--<div class="content-title-button"><el-button type="primary" plain size="medium">添加背景图</el-button></div>-->
              <div class="content-title-piker"><el-color-picker  size="medium" v-model="dataForm.bgColor"></el-color-picker></div>
              <div class="content-title-bg">背景色</div>
            </div>
            <!--v-on:resizestop="resizestop(item.id)"-->
            <div class="canvas-content-bootom" :style="canvasStyle">
              <!--v-for循环list展现各组件-->
              <!--点击激活，绑定各数据-->
              <vue-drag-resize
                style="border: 1px solid #004EA2"
                v-show="item.showVisible"
                v-for="item in dataForm.dragList" :key="item.id"
                :isActive="false"
                :parentH="parentH"
                :parentW="parentW"
                :w="item.w"
                :h="item.h"
                :x="item.x"
                :y="item.y"
                :z="item.z"
                :minw="50"
                :minh="50"
                v-on:resizing="resize"
                v-on:dragging="resize"
                :parentLimitation="true"
                :style="moduleList[item.type].styleColor"
                @clicked  ="activeIdHandle(item.id)"
                @dblclick.native="hideModule(item.id)">
                <span><i :class="moduleList[item.type].icon" style="font-size: 3rem; text-align: center"></i></span>
              </vue-drag-resize>
            </div>
            <div class="attention-point"><i class="el-icon-s-opportunity"></i>：左键单击，激活组件调整位置、大小、堆叠顺序；左键双击去除已添加组件；音乐组件不占位置</div>
          </div>
        </div>
        <div class="property-content">
          <div class="fix-content">
            <div class="content-title">组件属性</div>
            <div class="property-content-bootom">
              <div class="property-content-item">
                层：
                <el-button type="primary" plain size="small" @click="moveHandle('up')">上移一层</el-button>
                <el-button type="primary" plain size="small" @click="moveHandle('down')">下移一层</el-button>
              </div>
              <div class="property-content-item">
                <div class="property-content-item-module">
                  <div class="property-content-item-module-color" :style="this.moduleList[0].styleColor"></div>
                  视频控件
                </div>
              </div>
              <div class="property-content-item">
                <div class="property-content-item-module">
                  <div class="property-content-item-module-color" :style="this.moduleList[1].styleColor"></div>
                  音频控件
                </div>
              </div>
              <div class="property-content-item">
                <div class="property-content-item-module">
                  <div class="property-content-item-module-color" :style="this.moduleList[2].styleColor"></div>
                  图片控件
                </div>
              </div>
              <div class="property-content-item">
                <div class="property-content-item-module">
                  <div class="property-content-item-module-color" :style="this.moduleList[3].styleColor"></div>
                  轮播图控件
                </div>
              </div>
              <div class="property-content-item">
                <div class="property-content-item-module">
                  <div class="property-content-item-module-color" :style="this.moduleList[4].styleColor"></div>
                  文本控件
                </div>
              </div>
              <div class="property-content-item">
                <div class="property-content-item-module">
                  <div class="property-content-item-module-color" :style="this.moduleList[5].styleColor"></div>
                  直播控件
                </div>
              </div>
              <div class="property-content-item">
                <div class="property-content-item-module">
                  <div class="property-content-item-module-color" :style="this.moduleList[6].styleColor"></div>
                  时钟控件
                </div>
              </div>
              <div class="property-content-item">
                <div class="property-content-item-module">
                  <div class="property-content-item-module-color" :style="this.moduleList[7].styleColor"></div>
                  天气控件
                </div>
              </div>
            </div>
            <!--<div class="attention-point"><i class="el-icon-s-opportunity"></i>：组件属性</div>-->
          </div>
        </div>
      </div>
    </el-form>
    <template slot="footer">
      <el-button size="small" @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button size="small" @click="dataFormSubmitHandle()" type="primary" v-loading="loading">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>
<script>
import * as api from './api'
import util from '@/libs/util'
import VueDragResize from 'vue-drag-resize'
export default {
  components: {
    VueDragResize
  },
  data () {
    return {
      visible: false,
      activeId: '',
      parentH: 540,
      parentW: 960,
      dataForm: {
        id: '',
        name: '',
        marker: '1',
        bgType: '1',
        bgColor: '#FFFFFF',
        dragList: [],
        remark: ''
      },
      moduleList: [
        { styleColor: 'background-color: #81D8D0', icon: 'el-icon-film' },
        { styleColor: 'background-color: #ffffcc', icon: 'el-icon-microphone' },
        { styleColor: 'background-color: #ccffcc', icon: 'el-icon-picture-outline' },
        { styleColor: 'background-color: #FFE4E1', icon: 'el-icon-money' },
        { styleColor: 'background-color: #CAE1FF', icon: 'el-icon-document' },
        { styleColor: 'background-color: #EEC900', icon: 'el-icon-video-camera' },
        { styleColor: 'background-color: #F08080', icon: 'el-icon-time' },
        { styleColor: 'background-color: #EEAEEE', icon: 'el-icon-sunny' }
      ],
      title: '',
      color: '#FFFFFF',
      loading: false,
      fileList: [],
      dialogImageUrl: '',
      dialogVisible: false,
      optionsType: [{
        value: '1',
        label: '横版屏'
      }, {
        value: '2',
        label: '竖版屏'
      }],
      canvasStyle: 'width: 960px; ;height: 300px;',
      width: 50,
      height: 50,
      left: 50,
      top: 50,
      moduleNum: 0
    }
  },
  computed: {
    dataRule () {
      return {
        name: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ],
        bgType: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    init () {
      this.title = !this.dataForm.id ? this.$t('add') : this.$t('update')
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        this.dataForm.bgColor = '#FFFFFF'
        this.dataForm.dragList = []
        if (this.dataForm.id) this.getInfo()
      })
    },
    // 获取信息
    getInfo () {
      api.info(this.dataForm.id).then(data => {
        this.dataForm = data
        if (this.dataForm.bgType === '1') {
          this.canvasStyle = 'width: 960px; ;height: 300px;'
          this.parentH = 540
          this.parentW = 960
        } else {
          this.canvasStyle = 'width: 366px; ;height: 650px;'
          this.parentH = 650
          this.parentW = 366
        }
      })
    },
    // 表单提交
    async dataFormSubmitHandle () {
      let valid = await this.$refs.dataForm.validate().catch(() => {
        return util.$message.showInfo2('校验错误')
      })
      if (!valid) return
      this.loading = true
      let method = this.dataForm.id ? 'put' : 'post'
      await api.save(this.dataForm, method).then((data) => {
        if (data === '2') {
          util.$message.showInfo2('该模板已在节目已经使用，请更换后再操作！')
        }
      }).catch((err) => {
        this.loading = false
        throw err
      })
      this.$refs['dataForm'].resetFields()
      this.$refs['dataForm'].clearValidate()
      this.dataForm.dragList = []
      this.loading = false
      this.visible = false
      this.$emit('refreshDataList')
    },
    markerHandle () {
      if (this.dataForm.marker === '1') {
        this.dataForm.marker = '0'
      } else {
        this.dataForm.marker = '1'
      }
    },
    typeSelectHandle () {
      if (this.dataForm.bgType === '1') {
        this.canvasStyle = 'width: 960px; ;height: 540px;'
        this.parentH = 540
        this.parentW = 960
      } else {
        this.canvasStyle = 'width: 366px; ;height: 650px;'
        this.parentH = 650
        this.parentW = 366
      }
      this.dataForm.dragList = []
    },
    resize (newRect) {
      var val = this.activeId
      if (val != null && val !== '') {
        this.activeId = val
        var index = this.dataForm.dragList.findIndex(item => {
          if (item.id === this.activeId) {
            return true
          }
        })
        if (index !== '-1') {
          this.dataForm.dragList[index].w = newRect.width
          this.dataForm.dragList[index].h = newRect.height
          this.dataForm.dragList[index].x = newRect.left
          this.dataForm.dragList[index].y = newRect.top
        }
      }
    },
    activeIdHandle (val) {
      if (val != null && val !== '') {
        this.activeId = val
      }
    },
    toolbarHandle (val) {
      var id = ''
      var length = this.dataForm.dragList.length
      if (this.dataForm.id != null && this.dataForm.id !== '') {
        length = length - 1
        id = this.dataForm.dragList[length].id
        id = id + 1
      } else {
        id = length
      }
      var item = { id: 0, w: 50, h: 50, x: 0, y: 0, z: 0, showVisible: true, type: 0 }
      item.id = id
      item.type = val
      item.icon = this.moduleList[val].icon
      item.styleColor = this.moduleList[val].styleColor
      this.dataForm.dragList.push(item)
    },
    hideModule (val) {
      this.dataForm.dragList[val].showVisible = false
    },
    moveHandle (val) {
      var index = this.activeId
      if (val === 'up') {
        this.dataForm.dragList[index].z = this.dataForm.dragList[index].z + 1
      } else if (val === 'down') {
        if (this.dataForm.dragList[index].z >= 1) {
          this.dataForm.dragList[index].z = this.dataForm.dragList[index].z - 1
        } else {
          this.$message.error('该组件已在最底层，无法再往下移动!')
        }
      }
    }
  }
}
</script>
<style>
  .diglog-content{
    width: 100%;
    min-width: 1500px;
    height: 80vh;
    min-height: 850px;
    display: flex;
    /*space-between*/
    justify-content: center;
  }
  .toolbar-content{
    width: 10%;
    height: 80vh;
    float: left;
    border: 1px solid #81d8d0;
  }
  .canvas-content{
    width: 69%;
    height: 80vh;
    float: left;
    border: 1px solid #81d8d0;
  }
  .property-content{
    width: 18%;
    float: left;
    height: 80vh;
    border: 1px solid #81d8d0;
  }
  .content-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    background-color: rgb(235, 241, 246);
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
  }
  .toolbar-content-bootom{
    text-align: center;
  }
  .toolbar-button{
    margin: 20px 0px 0px 0px !important;
    width: 100px;
  }
  .canvas-content-bootom{
    text-align: center;
    background-color: #E0EEEE;
    position: relative;
    left: 50%;
    top: 47%;
    transform: translate(-50%,-50%);
  }
  .content-title-word{
    float: left;
  }
  .content-title-bg{
    float: right;
    margin-right: 20px;
  }
  .content-title-piker{
    float: right;
    margin-top: 8px;
    margin-right: 60px;
  }
  .content-title-button{
    float: right;
    margin-right: 100px;
  }
  .property-content-bootom{
    text-align: center;
  }
  .property-content-item{
    display: flex;
    justify-content: space-between;
    width: 70%;
    min-width: 200px;
    margin: 20px 15% 0px 15%;
    height: 32px;
    line-height: 32px;
  }
  .property-content-item-module{
    width: 100%;
    min-width: 200px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid lightgrey;
  }
  .property-content-item-module-color{
    width: 20px;
    height: 20px;
    float: left;
    margin: 6px 0px 6px 10px;
  }
  .fix-content{
    position: relative;
    width: 100%;
    height: 100%
  }
  .attention-point{
    line-height: 40px;
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    left: 5px;
    bottom: 0px;
    color: red;
  }
</style>
