@import './setting.scss';
@import '../theme.scss';
.theme-#{$theme-name} {
  .d2-theme-header {
    background: #2b89e0;
    //background: linear-gradient(120deg, #2f54eb 0%, #2f54eb 100%);
  }
  .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-container .d2-theme-container-aside .d2-layout-header-aside-menu-side{
    background: #fff;
  }
 .d2-theme-header .el-menu .el-submenu.is-active .el-submenu__title,.d2-theme-header .el-menu .el-menu-item.is-active{
    border-bottom: 2px solid #f45538;
  }
  .d2-theme-container .d2-theme-container-aside .el-menu .el-menu-item.is-active{
    border-left: 2px solid #f45538;
  }
 
  .white-tabs .el-tabs__nav{
    height: 41px !important;
  }
  .white-tabs .el-tabs__item{
    height:32px !important;
    line-height: 32px !important;
    background-color: #fff !important;
    border: 1px solid #d8dce5 !important;
    margin: 4px 3px !important;
    padding: 0 12px !important;
  }
  .white-tabs .el-tabs__header .el-tabs__nav{
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  padding-left: 10px;
 }
 .white-tabs .el-tabs__nav .el-tabs__item.is-active{
   color: #fff !important;
   background-color: #62adf1 !important;
   border: 1px solid #62adf1 !important;
 }
 .white-tabs .el-tabs__nav .el-tabs__item.is-active:before{
   content: "";
   background: #fff;
   display: inline-block;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   position: relative;
   margin-right: 6px;
 }
 .el-tabs--card>.el-tabs__header .el-tabs__item{
   -webkit-transition: none;
   transition: none;
 }
}
