<template>
  <d2-container >
    <el-row :gutter="20">
      <el-col :span="24">
        <el-card class="topDiv">
          <div class="topDiv_top">
            <h1 class="jianbao">数据展示</h1><p class="jinri">今日[{{computeDate}}]</p>
          </div>
          <div class="topDiv_bottom">
            <div class="dateDiv">
              <div class="imgDiv" style=" border-color: rgb(120,170,255);background-color: rgb(120,170,255);">
                <img src="@/assets/image/01.png"/>
              </div>
              <div class="img_title">
                <h1 >{{this.equCount}}</h1>个
                <p>终端数</p>
              </div>
            </div>
            <div class="dateDiv">
              <div class="imgDiv" style="border-color: rgb(120,201,109);background-color: rgb(120,201,109);">
                <img src="@/assets/image/02.png"/>
              </div>
              <div class="img_title">
                <h1>{{this.resCount}}</h1>个
                <p>资源数</p>
              </div>
            </div>
            <div class="dateDiv">
              <div class="imgDiv" style="border-color: rgb(93,201,245);background-color: rgb(93,201,245)">
                <img src="@/assets/image/03.png"/>
              </div>
              <div class="img_title">
                <h1>{{this.temCount}}</h1>个
                <p>模板数</p>
              </div>
            </div>
            <div class="dateDiv">
              <div class="imgDiv" style="border-color: rgb(182,161,220);background-color:  rgb(182,161,220)">
                <img src="@/assets/image/04.png"/>
              </div>
              <div class="img_title">
                <h1>{{this.proCount}}</h1>个
                <p>节目数</p>
              </div>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="24" >
        <el-card class="bottomDiv">
          <div class="bottom_left">
            <div class="bottom_left_top">
              <h1 class="jianbao">图表展示</h1>
            </div>
            <div class="bottom_left_bottom_left" >
              <div class="bottom_left_bottom_echarts" ref="echartsContains1" id="echartsContains1">
              </div>
            </div>
            <div class="bottom_left_bottom_right" >
              <div class="bottom_left_bottom_echarts" ref="echartsContains2" id="echartsContains2">
              </div>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </d2-container>
</template>
<script>
import echarts from 'echarts'
import * as api from './api'
import util from '@/libs/util'
import { mapState, mapActions } from 'vuex'
export default {
  data () {
    return {
      jsonList: null,
      visible: false,
      cockpitApproveVisible: false,
      equCount: 0,
      resCount: 0,
      temCount: 0,
      proCount: 0,
      indexDate: 0,
      indexMonth: 0,
      commentMessageList: [],
      opportunityMessageList: [],
      order: '', // 排序，asc／desc
      orderField: '', // 排序，字段
      page: 1, // 当前页码
      limit: 20, // 每页数 limit 不能与字段重复
      total: 0, // 总条数
      dataListLoading: false, // 装载数据
      indexStart: 1,
      dataList: [],
      deptoptions: [{ value: '', label: '' }],
      myChart1Option: {
        title: {
          text: '资源性质总计',
          left: 'center'
        },
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b}: {c} ({d}%)'
        },
        color: [ '#22DDDD', '#EEEE00' ],
        legend: {
          orient: 'vertical',
          left: 10,
          data: ['商业', '公益']
        },
        series: [
          {
            name: '资源数量',
            type: 'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
              show: false,
              position: 'center'
            },
            emphasis: {
              label: {
                show: true,
                fontSize: '30',
                fontWeight: 'bold'
              }
            },
            labelLine: {
              show: false
            },
            data: [
              { value: 0, name: '商业' },
              { value: 0, name: '公益' }
            ]
          }
        ]
      },
      myChart2Option: {
        grid: {
          bottom: 60,
          top: 80,
          left: 0,
          right: 0
        },
        title: {
          text: '各节目资源性质统计',
          subtext: '',
          left: 'center',
          textStyle: {
            fontSize: 30,
            height: 60
          }
        },
        color: [ '#409EFF', '#004ea2' ],
        legend: {
          orient: 'vertical',
          right: 200
        },
        tooltip: {},
        dataset: {
          dimensions: ['节目', '商业', '公益'],
          source: [
            ['节目', '商业', '公益']
          ]
        },
        xAxis: {
          type: 'category',
          axisLabel: {
            interval: 0,
            formatter: function (value) {
              debugger
              var ret = ''
              var maxLength = 5
              var valLength = value.length
              var rowN = Math.ceil(valLength / maxLength)
              if (rowN > 1) {
                for (var i = 0; i < rowN; i++) {
                  var temp = ''
                  var start = i * maxLength
                  var end = start + maxLength
                  temp = value.substring(start, end) + '\n'
                  ret += temp
                }
                return ret
              } else {
                return value
              }
            }
          }
        },
        yAxis: {},
        series: [
          {
            type: 'bar',
            barWidth: '12%'
          },
          {
            type: 'bar',
            barWidth: '12%'
          }
        ]
      }
    }
  },
  // components: {
  //   cockpitApprove
  // },
  created () {
    this.getCountList()
  },
  mounted () {
    this.getCountList()
    this.getNumberList() // 数据展示
  },
  computed: {
    // im即时通讯
    ...mapState('d2admin', {
      // state.chat.customMessage
      msgData: state => state.chat.customMessage
    }),
    computeDate () {
      let date = new Date()
      return date.getFullYear() + '年' + (date.getMonth() + 1) + '月' + date.getDate() + '日'
    },
    computeMonth () {
      let date = new Date()
      return date.getFullYear() + '年' + (date.getMonth() + 1) + '月'
    },
    dataRule () {
      return {
        name: [
          { required: true, message: this.$t('validate.required'), trigger: 'blur' }
        ]
      }
    }
  },
  watch: {
    // im即时通讯
    msgData (val) {
      alert('接收值为123：' + val)
      this.jsonList = JSON.parse(val)
      alert(this.jsonList.content)
    }
  },
  methods: {
    // im即时通讯
    ...mapActions('d2admin/chat', [
      'sendCustomMessage'
    ]),
    initEcharts () {
      var myChart1 = echarts.init(document.getElementById('echartsContains1'))
      myChart1.setOption(this.myChart1Option)
      var myChart2 = echarts.init(document.getElementById('echartsContains2'))
      myChart2.setOption(this.myChart2Option)
    },
    taskHandle (id) {
      this.cockpitApproveVisible = true
      this.$nextTick(() => {
        this.$refs.cockpitApprove.dataForm.id = id
        this.$refs.cockpitApprove.init()
      })
    },
    getCountList (index) {
      api.queryCount(index).then((data) => {
        this.myChart1Option.series[0].data = [
          { value: data.businessSum, name: '商业' },
          { value: data.freeSum, name: '公益' }
        ]
        this.dataList = data.list
        if (this.dataList.length > 0) {
          this.myChart2Option.dataset.source = [
            ['节目', '商业', '公益']
          ]
          for (let item of this.dataList) {
            var arr = [item.name, item.businessNum, item.freeNum]
            this.myChart2Option.dataset.source.push(arr)
          }
        } else {
          this.myChart1Option.series[0].data = [
            { value: 0, name: '商业' },
            { value: 0, name: '公益' }
          ]
          this.myChart2Option.dataset.source = [
            ['节目', '商业', '公益']
          ]
        }
        this.initEcharts()
      }).catch((err) => {
        util.$message.showInfo2(err)
      })
    },
    getNumberList () {
      api.queryNumber().then((data) => {
        this.equCount = data.equ
        this.resCount = data.res
        this.temCount = data.tem
        this.proCount = data.pro
      }).catch((err) => {
        this.dataListLoading = false
        util.$message.showInfo2(err)
      })
    }
  }
}
</script>

<style scoped>
  .topDiv{
    width: 100%;
    border-radius: 4px;
  }
  .topDiv_top{
    width: 100%;
    height: 7vh;
    line-height: 7vh;
    min-height: 65px;
    float: left;
    background-color: rgb(235, 241, 246);
  }
  .topDiv_bottom{
    width: 100%;
    height: 11vh;
    min-height: 100px;
    float: left;
  }
  .bottomDiv{
    width: 100%;
    height: 65vh;
  }
  .bottom_left{
    width: 100%;
    height: 70vh;
    min-height: 700px;
  }
  .jianbao{
    display: inline-block;
    float: left;
    margin-left: 10px;
  }
  .jinri{
    display: inline-block;
    margin-left: 1%;
    font-size: 16px;
    float: left;
  }
  .dateDiv{
    height:100%;
    width:25%;
    padding-left: 5%;
    display: inline-block;
    float:left;
    border-right: 1px solid rgb(241,242,246);
  }
  .imgDiv{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    padding-top: 17px;
    padding-left: 17px;
    margin-top: 20px;
    margin-left: 60px;
    float:left;
  }
  .img_title{
    float: left;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;

  }
  .img_title  h1 {
    display:inline-block;
  }
  .bottom_left_top{
    height: 8%;
    min-height: 42px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 2vh;
    background-color: rgb(235, 241, 246);
  }
  .bottom_left_bottom_left{
    width: 40%;
    height: 80%;
    float: left;
  }
  .bottom_left_bottom_right{
    width: 60%;
    height: 80%;
    float: left;
  }
  .bottom_left_bottom_echarts{
    width: 90%;
    height: 90%;
    padding: 2%;
    /*background-color: #FAFAFA;*/
  }
  .el-row {
    margin-bottom: 20px;
  }
  .el-row :nth-last-child(1){
    margin-bottom: 0;
  }
</style>
