<template>
    <d2-container>
          <el-form :inline="true" @keyup.enter.native="getDataList()" size="small">
               <el-form-item>
                 <el-input clearable placeholder="名称" v-model="dataForm.groupName"></el-input>
               </el-form-item>
               <el-form-item>
                  <qz-input-date  value-format="YYYY-MM-DD" v-model="dataForm.ge_createDate" placeholder="起始日期" style="width: 150px"></qz-input-date>
               </el-form-item>
               <el-form-item>
                  <qz-input-date value-format="YYYY-MM-DD" v-model="dataForm.le_createDate" placeholder="截止日期" style="width: 150px"></qz-input-date>
               </el-form-item>
               <el-form-item>
                   <el-button @click="getDataList()">查询</el-button>
               </el-form-item>
               <el-form-item>
                 <!--@click="addOrUpdateHandle()" -->
                   <el-button @click="addTypeSelect" type="primary" v-if="$hasPermission('resource:wlresource:save')">增加</el-button>
               </el-form-item>
               <el-form-item  v-show="addTypeSelectShow">
                 <el-select @change="addTypeSelectHandle" v-model="typeValue" size="small" placeholder="请选择">
                   <el-option
                     v-for="item in addTypeOptions"
                     :key="item.value"
                     :label="item.label"
                     :value="item.value">
                   </el-option>
                 </el-select>
               </el-form-item>
               <el-form-item>
                   <el-button @click="deleteHandle()" type="danger" v-if="$hasPermission('resource:wlresource:delete')">批量删除</el-button>
               </el-form-item>
               <!--<el-form-item>-->
                   <!--<el-button @click="exportHandle()" type="success" v-if="$hasPermission('resource:wlresource:export')">导出</el-button>-->
               <!--</el-form-item>-->
            </el-form>
            <el-table
                    ref="listTable"
                    :data="dataList"
                    @selection-change="dataListSelectionChangeHandle"
                    @sort-change="dataListSortChangeHandle"
                    stripe
                    highlight-current-row
                    :height="heightY-topY+'px'"
                    border
                    style="width: 100%;margin-top: -10px"
                    size="small"
                    v-loading="dataListLoading">
                <el-table-column align="center" header-align="center" type="index" :index="indexStart" width="50"></el-table-column>
                <el-table-column align="center" header-align="center" type="selection" width="50"></el-table-column>
            <el-table-column prop="name" label="名称" header-align="center" align="center"></el-table-column>
            <el-table-column prop="groupName" label="分组" header-align="center" align="center"></el-table-column>
            <el-table-column prop="type" label="类型" header-align="center" align="center">
              <template slot-scope="scope">
                {{scope.row.type | getDictValue('type', dicts)}}
              </template>
            </el-table-column>
            <el-table-column prop="path" label="资源预览" width="500" header-align="center" align="center">
              <template slot-scope="scope">
                <div v-if="scope.row.type == 1">
                  <el-image
                    style="width: 400px; height: auto"
                    :src="$imghttp+scope.row.path"
                    :preview-src-list="[$imghttp+scope.row.path]">
                  </el-image>
                </div>
                <div v-if="scope.row.type == 3">
                  <video
                    style="width: 250px; height: 140px"
                    controls
                    :src="$imghttp+scope.row.path">
                  </video>
                </div>
                <div v-if="scope.row.type == 2">
                  <audio
                    style="width: 250px; height: 30px"
                    controls
                    :src="$imghttp+scope.row.path">
                  </audio>
                </div>
                <div v-if="scope.row.type == 4"  class="text-content-show" :title=scope.row.textContent>
                  {{scope.row.textContent}}
                </div>
                <div v-if="scope.row.type == 5">
                  <a :href=scope.row.urlPath target="_blank">{{scope.row.urlPath}}</a>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="marker" label="性质" header-align="center" align="center">
              <template slot-scope="scope">
                <img v-if="scope.row.marker == 1" src="../../image/business.png" class="icon-image">
                <img v-else src="../../image/free.png" class="icon-image">
              </template>
            </el-table-column>
            <el-table-column prop="remark" label="备注" header-align="center" align="center"></el-table-column>
            <!--<el-table-column prop="createDate" label="创建时间" header-align="center" align="center" sortable="custom">-->
                 <!--<template slot-scope="scope">-->
                     <!--<span v-if="scope.row.createDate"> {{ scope.row.createDate|moment('YYYY-MM-DD') }}</span>-->
                  <!--</template>-->
            <!--</el-table-column>-->
            <!--<el-table-column prop="updator" label="编辑人" header-align="center" align="center"></el-table-column>-->
            <el-table-column align="center"  header-align="center" label="操作" width="120">
                    <template slot-scope="scope">
                        <el-button @click="addOrUpdateHandle(scope.row.id, scope.row.type)" size="small" type="text"
                                   v-if="$hasPermission('resource:wlresource:update')">修改</el-button>
                        <el-button @click="deleteHandle(scope.row.id)" size="small" type="text"
                                   v-if="$hasPermission('resource:wlresource:delete')">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination style="margin: 5px 0px -15px"
                    :current-page="page"
                    :page-size="limit"
                    :page-sizes="[10, 20, 50, 100]"
                    :total="total"
                    @current-change="pageCurrentChangeHandle"
                    @size-change="pageSizeChangeHandle"
                    layout="total, sizes, prev, pager, next, jumper">
            </el-pagination>
            <!-- 弹窗, 新增 / 修改 -->
            <multi-image-add-or-update @refreshDataList="getDataList"  ref="multiAddOrUpdate" v-show="multiAddOrUpdateVisible"></multi-image-add-or-update>
            <multi-vedio-add-or-update @refreshDataList="getDataList"  ref="multiVedioAddOrUpdate" v-show="multiVedioAddOrUpdateVisible"></multi-vedio-add-or-update>
            <text-add-or-update @refreshDataList="getDataList"  ref="textAddOrUpdate" v-show="textAddOrUpdateVisible"></text-add-or-update>
            <url-add-or-update @refreshDataList="getDataList"  ref="urlAddOrUpdate" v-show="urlAddOrUpdateVisible"></url-add-or-update>
    </d2-container>
</template>
<script>
import util from '@/libs/util'
import resizemix from '@/components/qz-mixins/windowresize/resizemix'
import * as api from './api'
import multiImageAddOrUpdate from './wlresource-multi-image-add-or-update'
import multiVedioAddOrUpdate from './wlresource-multi-vedio-add-or-update'
import textAddOrUpdate from './wlresource-text-add-or-update'
import urlAddOrUpdate from './wlresource-url-add-or-update'
export default {
  name: 'resource-wlresource',
  mixins: [resizemix],
  components: {
    multiImageAddOrUpdate,
    multiVedioAddOrUpdate,
    textAddOrUpdate,
    urlAddOrUpdate
  },
  data () {
    return {
      topY: 180,
      typeValue: '',
      dataForm: {
        type: '',
        // 包含
        groupName: '',
        // ge_是指大于等于
        ge_createDate: null,
        // le_是指小于等于
        le_createDate: null
      },
      dataList: [],
      order: '', // 排序，asc／desc
      orderField: '', // 排序，字段
      page: 1, // 当前页码
      limit: 10, // 每页数 limit 不能与字段重复
      total: 0, // 总条数
      dataListLoading: false, // 装载数据
      dataListSelections: [], // 数据列表，多选项
      multiAddOrUpdateVisible: false, // 新增／更新，弹窗addOrUpdateVisible状态
      multiVedioAddOrUpdateVisible: false,
      textAddOrUpdateVisible: false,
      urlAddOrUpdateVisible: false,
      indexStart: 1,
      // 4: 文本
      addTypeOptions: [{
        value: '1',
        label: '图片'
      }, {
        value: '2',
        label: '视频'
      }],
      addTypeSelectShow: false,
      dicts: {
        type: [
          { value: '1', label: '图片' },
          { value: '3', label: '视频' },
          { value: '2', label: '音频' },
          { value: '4', label: '文本' },
          { value: '5', label: '直播' }
        ]
      }
    }
  },
  mounted () {
    this.getDataList()
  },
  filters: {
    getDictValue: function (value, typeStr, dictList) {
      for (let i = 0; i < dictList[typeStr].length; i++) {
        if (dictList[typeStr][i].value === value) {
          return dictList[typeStr][i].label
        }
      }
      return ''
    }
  },
  methods: {
    init () {

    },
    getDataList () {
      let params = {
        order: this.order,
        orderField: this.orderField,
        page: this.page,
        limit: this.limit,
        ...this.dataForm }
      this.indexStart = (this.page - 1) * this.limit + 1
      this.dataListLoading = true
      api.page(params).then((data) => {
        this.dataList = data.records
        this.total = data.total * 1
      }).catch((err) => {
        this.dataListLoading = false
        util.$message.showInfo2(err)
      })
      this.dataListLoading = false
    },
    addTypeSelect () {
      this.addTypeSelectShow = !this.addTypeSelectShow
    },
    addTypeSelectHandle () {
      this.addTypeSelectShow = !this.addTypeSelectShow
      this.addOrUpdateHandle('', this.typeValue)
      this.typeValue = ''
    },
    // 分页, 每页条数
    pageSizeChangeHandle (val) {
      this.page = 1
      this.limit = val
      this.getDataList()
    },
    // 分页, 当前页
    pageCurrentChangeHandle (val) {
      this.page = val
      this.getDataList()
    },
    // checkbox改变
    dataListSelectionChangeHandle (val) {
      this.dataListSelections = val
    },
    // 排序
    dataListSortChangeHandle (data) {
      if (!data.order || !data.prop) {
        this.order = ''
        this.orderField = ''
        return false
      }
      this.order = data.order
      this.orderField = data.prop
      this.getDataList()
    },
    //  新增或修改
    addOrUpdateHandle (id, type) {
      if (type === '1') {
        this.multiAddOrUpdateVisible = true
        this.$nextTick(() => {
          this.$refs.multiAddOrUpdate.dataForm.id = id
          this.$refs.textAddOrUpdate.dataForm.type = type
          this.$refs.multiAddOrUpdate.init()
        })
      } else if (type === '4') {
        this.textAddOrUpdateVisible = true
        this.$nextTick(() => {
          this.$refs.textAddOrUpdate.dataForm.id = id
          this.$refs.textAddOrUpdate.dataForm.type = type
          this.$refs.textAddOrUpdate.init()
        })
      } else if (type === '2') {
        this.multiVedioAddOrUpdateVisible = true
        this.$nextTick(() => {
          this.$refs.multiVedioAddOrUpdate.dataForm.id = id
          this.$refs.multiVedioAddOrUpdate.dataForm.type = type
          this.$refs.multiVedioAddOrUpdate.init()
        })
      }
    },
    async deleteHandle (id) {
      if (!id && this.dataListSelections.length <= 0) {
        return util.$message.showInfo2('请选择需要删除的项')
      }
      let ok = await util.$message.showYesNo('是否确定删除选择的项目?')
      if (!(ok && ok === 'confirm')) {
        return ''
      }
      let data = id ? [id] : this.dataListSelections.map(item => item['id'])
      await api.remove(data).then(data => {
        if (data) {
          console.log(data)
        } else {
          this.$message({
            showClose: true,
            message: '因节目中使用到该图片，请先从节目删除后再进行资源删除！',
            type: 'error'
          })
        }
      })
      this.getDataList()
    },
    // 导出
    exportHandle () {
      api.exportXls(this.dataForm)
    }
  }
}
</script>
<style lang="scss">
  .icon-image{
    height: 30px !important;
    margin: 0px 45% ;
  }
  .text-content-show{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
</style>
