<template>
  <el-dialog :title="title" :visible.sync="visible" top="6vh" width="900px">
    <el-form :model="dataForm" :rules="dataRule" label-width="90px" ref="dataForm" size="mini">
      <el-row>
        <el-col  :span="12">
          <el-form-item prop="name" label="名称">
            <el-input placeholder="名称" v-model="dataForm.name"></el-input>
          </el-form-item>
        </el-col>
        <el-col  :span="12">
          <el-form-item prop="groupName" label="分组">
            <el-input placeholder="分组" v-model="dataForm.groupName"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col  :span="12">
          <el-form-item prop="marker" label="性质">
            <div v-if="dataForm.marker == '1'" class="icon-image">
              <img src="../../image/business.png" class="icon-image" @click="markerHandle"/>
            </div>
            <div v-else  class="icon-image">
              <img src="../../image/free.png" class="icon-image" @click="markerHandle"/>
            </div>
            注：红色为公益性质；蓝色为商业性质
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col  :span="24">
          <el-form-item prop="textContent" label="文本">
            <el-input placeholder="文本" type="textarea" :rows="7" v-model="dataForm.textContent"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col  :span="24">
          <el-form-item prop="remark" label="备注">
            <el-input placeholder="备注" type="textarea" :rows="3" v-model="dataForm.remark"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <template slot="footer">
      <el-button size="small" @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button size="small" @click="dataFormSubmitHandle()" type="primary" v-loading="loading">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>
<script>
import * as api from './api'
import util from '@/libs/util'

export default {
  data () {
    return {
      visible: false,
      dataForm: {
        id: '',
        name: '',
        groupName: '',
        marker: '1',
        type: '',
        fileList: [],
        picPath: '',
        picSuffix: '',
        linkId: '',
        audioPath: '',
        audioSuffix: '',
        videoPath: '',
        videoSuffix: '',
        urlPath: '',
        textContent: '',
        remark: '',
        creator: '',
        createDate: '',
        updator: '',
        updateDate: ''
      },
      title: '',
      loading: false,
      fileList: [],
      dialogImageUrl: '',
      dialogVisible: false
    }
  },
  computed: {
    dataRule () {
      return {
      }
    }
  },
  methods: {
    init () {
      this.title = !this.dataForm.id ? this.$t('add') : this.$t('update')
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) this.getInfo()
      })
    },
    // 获取信息
    getInfo () {
      api.info(this.dataForm.id).then(data => {
        this.dataForm = data
      })
    },
    // 表单提交
    async dataFormSubmitHandle () {
      let valid = await this.$refs.dataForm.validate().catch(() => {
        return util.$message.showInfo2('校验错误')
      })
      if (!valid) return
      this.loading = true
      let method = this.dataForm.id ? 'put' : 'post'
      await api.save(this.dataForm, method).catch((err) => {
        this.loading = false
        throw err
      })
      this.loading = false
      this.visible = false
      this.$emit('refreshDataList', this.dataForm)
    },
    handleRemove (file, fileList) {
      console.log(file, fileList)
    },
    handlePreview (file) {
      console.log(file)
    },
    handleExceed (files, fileList) {
      this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`)
    },
    beforeRemove (file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`)
    },
    handlePictureCardPreview (file) {
      this.dialogImageUrl = file.url
      this.dialogVisible = true
    },
    markerHandle () {
      if (this.dataForm.marker === '1') {
        this.dataForm.marker = '0'
      } else {
        this.dataForm.marker = '1'
      }
    },
    // 覆盖默认的上传行为 自定义上传的实现
    httpRequest (param) {
      alert('shangchuan')
      // this.dataForm.fileList.push(param.file) // 一般情况下是在这里创建FormData对象，但我们需要上传多个文件，为避免发送多次请求，因此在这里只进行文件的获取，param可以拿到文件上传的所有信息
    }
  }
}
</script>
<style>
  .icon-image{
    height: 30px !important;
    float: left;
    margin-right: 20px;
  }
</style>
