<template>
    <el-dialog :title="title" :visible.sync="visible" top="6vh" width="900px">
        <el-form :model="dataForm" :rules="dataRule" label-width="90px" ref="dataForm" size="mini" enctype="multipart/form-data">
          <el-row>
            <el-col  :span="12">
              <el-form-item prop="name" label="名称">
                <el-input placeholder="名称" v-model="dataForm.name"></el-input>
              </el-form-item>
            </el-col>
            <el-col  :span="12">
              <el-form-item prop="groupName" label="分组">
                <el-input placeholder="分组" v-model="dataForm.groupName"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col  :span="12">
              <el-form-item prop="marker" label="性质">
                <div v-if="dataForm.marker == '1'" class="icon-image">
                  <img src="../../image/business.png" class="icon-image" @click="markerHandle"/>
                </div>
                <div v-else  class="icon-image">
                  <img src="../../image/free.png" class="icon-image" @click="markerHandle"/>
                </div>
                注：红色为公益性质；蓝色为商业性质
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col  :span="24">
              <el-form-item prop="fileExist" label="文件上传">
                <el-upload
                  :action='uploadUrl'
                  :on-preview="handlePreview"
                  :on-change="onChange"
                  :before-remove="beforeRemove"
                   multiple
                  :limit="3"
                  :on-exceed="handleExceed"
                  :file-list="dataForm.fileList"
                  accept=".mp4"
                  :auto-upload="false"
                  ref="uploadVedio"
                  :data="dataForm">
                  <el-button size="small" type="primary">点击上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传mp4文件</div>
                </el-upload>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col  :span="24">
              <el-form-item prop="remark" label="备注">
                <el-input placeholder="备注" type="textarea" :rows="3" v-model="dataForm.remark"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <template slot="footer">
            <el-button size="small" @click="visible = false">{{ $t('cancel') }}</el-button>
            <el-button size="small" @click="dataFormSubmitHandle()" type="primary" v-loading="loading">{{ $t('confirm') }}</el-button>
        </template>
    </el-dialog>
</template>
<script>
import * as api from './api'
import util from '@/libs/util'

export default {
  data () {
    return {
      visible: false,
      dataForm: {
        id: '',
        name: '',
        groupName: '',
        duration: '',
        marker: '1',
        type: '2',
        fileList: [],
        remark: '',
        fileExist: ''
      },
      title: '',
      loading: false,
      fileList: [],
      dialogImageUrl: '',
      dialogVisible: false,
      uploadUrl: `${window.SITE_CONFIG['apiURL']}/resource/wlresource/saveSource?token=${util.cookies.get('token')}`
    }
  },
  computed: {
    dataRule () {
      return {
        fileExist: [
          { required: true, message: '必填', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    init () {
      this.title = !this.dataForm.id ? this.$t('add') : this.$t('update')
      this.dataForm.fileList = []
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) this.getInfo()
      })
    },
    // 获取信息
    getInfo () {
      api.info(this.dataForm.id).then(data => {
        this.dataForm = data
        if (data.path !== null && data.path !== '') {
          this.dataForm.fileExist = 'have'
          this.dataForm.fileList = [{ name: data.name, url: this.$imghttp + data.path }]
        }
      })
    },
    // 表单提交
    async dataFormSubmitHandle () {
      let valid = await this.$refs.dataForm.validate().catch(() => {
        return util.$message.showInfo2('校验错误')
      })
      if (!valid) return
      if (this.dataForm.id !== '') {
        api.update(this.dataForm)
      } else {
        this.$refs.uploadVedio.submit()
      }
      this.visible = false
      this.$emit('refreshDataList', this.dataForm)
    },
    onChange (file, fileList) {
      if (fileList.length > 0) {
        this.dataForm.fileExist = 'have'
      } else {
        this.dataForm.fileList = ''
      }
    },
    handlePreview (file) {
      console.log(file)
    },
    handleExceed (files, fileList) {
      this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`)
    },
    beforeRemove (file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`)
    },
    handlePictureCardPreview (file) {
      this.dialogImageUrl = file.url
      this.dialogVisible = true
    },
    markerHandle () {
      if (this.dataForm.marker === '1') {
        this.dataForm.marker = '0'
      } else {
        this.dataForm.marker = '1'
      }
    },
    tyepChange () {
      this.dataForm.fileList = []
    },
    handleSuccess () {
      this.$emit('refreshDataList')
    }
  }
}
</script>
<style>
  .icon-image{
    height: 30px !important;
    float: left;
    margin-right: 20px;
  }
</style>
