<template>
    <d2-container>
        <el-form :inline="true" @keyup.enter.native="getDataList()" size="small">
            <el-form-item prop="customerId">
                <el-select filterable clearable v-model="dataForm.customerId"  @change="nameSelectHandle">
                    <el-option
                            v-for="item in optionsCustomer"
                            :key="item.key"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item prop="equipmentName">
                <el-input clearable placeholder="设备名称" v-model="dataForm.equipmentName"></el-input>
            </el-form-item>
            <el-form-item>
                <qz-input-date  value-format="YYYY-MM-DD" v-model="dataForm.ge_createDate" placeholder="起始日期" style="width: 150px"></qz-input-date>
            </el-form-item>
            <el-form-item>
                <qz-input-date value-format="YYYY-MM-DD" v-model="dataForm.le_createDate" placeholder="截止日期" style="width: 150px"></qz-input-date>
            </el-form-item>
        </el-form>
        <el-table
                ref="listTable"
                :data="dataList"
                style="width: 100%;margin-top: -10px"
                stripe
                highlight-current-row
                size="small"
                v-loading="dataListLoading"
                border
                show-summary
                :summary-method="getSummaries"
                >
            <!-- 去除索引和多选框
           <el-table-column align="center" header-align="center" type="index" :index="indexStart" width="50"></el-table-column>
            <el-table-column align="center" header-align="center" type="selection" width="50"></el-table-column>-->
            <el-table-column prop="programName" label="节目名称" header-align="center" align="center"></el-table-column>
            <el-table-column prop="customerId" label="客户名称" header-align="center" align="center">
                <template slot-scope="scope">
                    {{getCustomerInfo(scope.row.customerId)}}
                </template>
            </el-table-column>
            <el-table-column prop="equipmentName" label="设备名称" header-align="center" align="center">
            </el-table-column>
            <el-table-column prop="createDate" label="创建时间" header-align="center" align="center"></el-table-column>
            <el-table-column prop="onDatetime" label="开播时间" header-align="center" align="center"></el-table-column>
            <el-table-column prop="offDatetime" label="停播时间" header-align="center" align="center"></el-table-column>
            <el-table-column prop="timeCount" label="播放时长(min)" header-align="center" align="center">
            </el-table-column>
        </el-table>
        <!-- 去除分页
         <el-pagination style="margin: 5px 0px -15px"//
                        :current-page="page"
                        :page-size="limit"
                        :page-sizes="[10, 20, 50, 100]"
                        :total="total"
                        @current-change="pageCurrentChangeHandle"
                        @size-change="pageSizeChangeHandle"
                        layout="total, sizes, prev, pager, next, jumper">
         </el-pagination>-->
    </d2-container>
</template>
<script>
import util from '@/libs/util'
import * as api from './api'
import { info } from '../../customer/wlcustomer/api'

export default {
  name: 'statistics-program',
  components: {
  },
  data () {
    return {
      topY: 180,
      typeValue: '',
      dataForm: {
        // 包含
        customerId: '',
        equipmentName: '',
        // ge_是指大于等于
        ge_createDate: null,
        // le_是指小于等于
        le_createDate: null
      },
      dataList: [],
      order: '', // 排序，asc／desc
      orderField: '', // 排序，字段
      page: 1, // 当前页码
      limit: 20, // 每页数 limit 不能与字段重复
      total: 0, // 总条数
      dataListLoading: false, // 装载数据
      indexStart: 1,
      optionsCustomer: [],
      customername: ''
    }
  },
  mounted () {
    this.init()
  },
  created () {
    console.log('-------------')
  },
  methods: {
    init () {
      this.getDataList()
      this.getCustomer()
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '总计'
          return
        }
        let values = []
        // column.property === 'picInterval'  picInterval 是需要要总计table中的那一列的 prop值
        if (column.property === 'picInterval' || column.property === 'textInterval') {
          values = data.map(item => Number(item[column.property]))
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
        } else if (column.property === 'offDatetime') {
          values = data.map(item => this.DateDifference(item['onDatetime'], item['offDatetime']))
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
        } else {
          sums[index] = ''
        }
      })
      for (let i = 0; i < sums.length; i++) {
        if (i === 5) {
          sums[i] = Math.floor(sums[i] / 24) + '天' + Math.floor(sums[i] % 24) + '小时'
        }
      }
      return sums
    },
    DateDifference (faultDate, completeTime) {
      // let d1 = new Date(faultDate);
      // let d2 = new Date(completeTime);
      let stime = new Date(faultDate).getTime()
      let etime = new Date(completeTime).getTime()
      let usedTime = etime - stime
      let days = Math.floor(usedTime / (24 * 3600 * 1000))
      // 计算出小时数 计算天数后剩余的毫秒数
      let leave1 = usedTime % (24 * 3600 * 1000)
      let hours = Math.floor(leave1 / (3600 * 1000))
      // 计算相差分钟数 计算小时数后剩余的毫秒数
      // let leave2 = leave1 % (3600 * 1000)
      // let minutes = Math.floor(leave2 / (60 * 1000))
      // let time = days;
      // let time = days + '天' + hours + '时' + minutes + '分'
      return Number(24 * days + hours)
    },
    getDataList () {
      let params = {
        order: this.order,
        orderField: this.orderField,
        page: this.page,
        limit: this.limit,
        ...this.dataForm }
      this.indexStart = (this.page - 1) * this.limit + 1
      this.dataListLoading = true
      api.page(params).then((data) => {
        this.dataList = data.records
        this.total = data.total * 1
      }).catch((err) => {
        this.dataListLoading = false
        util.$message.showInfo2(err)
      })
      this.dataListLoading = false
    },
    getCustomer () {
      this.dataListLoading = true
      api.getCustomerlist().then((data) => {
        this.optionsCustomer = []
        this.custormerList = data
        for (let i = 0; i < this.custormerList.length; i++) {
          let item = { value: '', label: '', key: '' }
          item.value = this.custormerList[i].id
          item.label = this.custormerList[i].name
          item.key = this.custormerList[i].id
          this.optionsCustomer.push(item)
        }
        this.dataForm.customerId = this.custormerList[0].id
      }).catch((err) => {
        this.dataListLoading = false
        util.$message.showInfo2(err)
      })
      this.dataListLoading = false
    },
    getCustomerInfo (id) {
      info(id).then(data => {
        this.customername = data.name
      })
      return this.customername
    },
    nameSelectHandle () {
      this.getDataList()
    },
    // 分页, 每页条数
    pageSizeChangeHandle (val) {
      this.page = 1
      this.limit = val
      this.getDataList()
    },
    // 分页, 当前页
    pageCurrentChangeHandle (val) {
      this.page = val
      this.getDataList()
    },
    // checkbox改变
    dataListSelectionChangeHandle (val) {
      this.dataListSelections = val
    },
    // 排序
    dataListSortChangeHandle (data) {
      if (!data.order || !data.prop) {
        this.order = ''
        this.orderField = ''
        return false
      }
      this.order = data.order
      this.orderField = data.prop
      this.getDataList()
    }
  }
}
</script>
<style lang="scss">
    .icon-image{
        height: 30px !important;
    }
</style>
