<template>
    <d2-container>
          <el-form :inline="true" @keyup.enter.native="getDataList()" size="small">
             <el-form-item>
                   <el-button @click="getDataList()">查询</el-button>
             </el-form-item>
             <el-form-item>
                   <el-button @click="exportHandle()" type="success" v-if="$hasPermission('earlywaring:wlearlywaring:export')">导出</el-button>
             </el-form-item>
            </el-form>
            <el-table
                    ref="listTable"
                    :data="dataList"
                    @selection-change="dataListSelectionChangeHandle"
                    @sort-change="dataListSortChangeHandle"
                    stripe
                    highlight-current-row
                    :height="heightY-topY+'px'"
                    border
                    style="width: 100%;margin-top: -10px"
                    size="small"
                    v-loading="dataListLoading">
                <el-table-column align="center" header-align="center" type="index" :index="indexStart" width="50"></el-table-column>
                <el-table-column align="center" header-align="center" type="selection" width="50"></el-table-column>
            <el-table-column prop="id" label="id" header-align="center" align="center"></el-table-column>
            <el-table-column prop="description" label="报警描述" header-align="center" align="center"></el-table-column>
            <el-table-column prop="name" label="智能型名称" header-align="center" align="center"></el-table-column>
            <el-table-column prop="level" label="报警级别" header-align="center" align="center"></el-table-column>
            <el-table-column prop="time" label="报警时间" header-align="center" align="center"></el-table-column>
              <el-table-column prop="createDate" label="创建时间" header-align="center" align="center" sortable="custom">
                   <template slot-scope="scope">
                       <span v-if="scope.row.createDate"> {{ scope.row.createDate|moment('YYYY-MM-DD') }}</span>
                    </template>
              </el-table-column>
            </el-table>
            <el-pagination style="margin: 5px 0px -15px"
                    :current-page="page"
                    :page-size="limit"
                    :page-sizes="[10, 20, 50, 100]"
                    :total="total"
                    @current-change="pageCurrentChangeHandle"
                    @size-change="pageSizeChangeHandle"
                    layout="total, sizes, prev, pager, next, jumper">
            </el-pagination>
    </d2-container>
</template>
<script>
import util from '@/libs/util'
import resizemix from '@/components/qz-mixins/windowresize/resizemix'
import * as api from './api'
export default {
  name: 'earlywaring-wlearlywaring',
  mixins: [resizemix],
  components: {
  },
  data () {
    return {
      websock: null,
      dataForm: {},
      dataList: [],
      order: '', // 排序，asc／desc
      orderField: '', // 排序，字段
      page: 1, // 当前页码
      limit: 20, // 每页数 limit 不能与字段重复
      total: 0, // 总条数
      dataListLoading: false, // 装载数据
      dataListSelections: [], // 数据列表，多选项
      addOrUpdateVisible: false, // 新增／更新，弹窗addOrUpdateVisible状态
      indexStart: 1
    }
  },
  mounted () {
    this.getDataList()
  },
  methods: {
    getDataList () {
      let params = {
        order: this.order,
        orderField: this.orderField,
        page: this.page,
        limit: this.limit,
        ...this.dataForm }
      this.indexStart = (this.page - 1) * this.limit + 1
      this.dataListLoading = true
      api.page(params).then((data) => {
        this.dataList = data.records
        this.total = data.total * 1
      }).catch((err) => {
        this.dataListLoading = false
        util.$message.showInfo2(err)
      })
      this.dataListLoading = false
    },
    // 分页, 每页条数
    pageSizeChangeHandle (val) {
      this.page = 1
      this.limit = val
      this.getDataList()
    },
    // 分页, 当前页
    pageCurrentChangeHandle (val) {
      this.page = val
      this.getDataList()
    },
    // checkbox改变
    dataListSelectionChangeHandle (val) {
      this.dataListSelections = val
    },
    // 排序
    dataListSortChangeHandle (data) {
      if (!data.order || !data.prop) {
        this.order = ''
        this.orderField = ''
        return false
      }
      this.order = data.order
      this.orderField = data.prop
      this.getDataList()
    },
    async deleteHandle (id) {
      if (!id && this.dataListSelections.length <= 0) {
        return util.$message.showInfo2('请选择需要删除的项')
      }
      let ok = await util.$message.showYesNo('是否确定删除选择的项目?')
      if (!(ok && ok === 'confirm')) {
        return ''
      }
      let data = id ? [id] : this.dataListSelections.map(item => item['id'])
      await api.remove(data)
      this.getDataList()
    },
    // 导出
    exportHandle () {
      api.exportXls(this.dataForm)
    }
  }
}
</script>
<style lang="scss">
</style>
