<template>
    <qz-dialog :title="title" :visible.sync="visible" top="6vh" width="600px">
        <el-form :model="dataForm" :rules="dataRule" label-width="90px" ref="dataForm" size="mini">
               <el-form-item prop="desc" label="报警描述">
                  <el-input clearable placeholder="报警描述" v-model="dataForm.desc"></el-input>
               </el-form-item>
               <el-form-item prop="name" label="智能型名称">
                  <el-input clearable placeholder="智能型名称" v-model="dataForm.name"></el-input>
               </el-form-item>
               <el-form-item prop="level" label="报警级别">
                  <el-input-number :min="0" controls-position="right" v-model="dataForm.level" style="width: 100%"/>
               </el-form-item>
               <el-form-item prop="time" label="报警时间">
                  <el-input clearable placeholder="报警时间" v-model="dataForm.time"></el-input>
               </el-form-item>
               <el-form-item prop="remark" label="remark">
                  <el-input clearable placeholder="remark" v-model="dataForm.remark"></el-input>
               </el-form-item>
               <el-form-item prop="updator" label="updator">
                  <el-input clearable placeholder="updator" v-model="dataForm.updator"></el-input>
               </el-form-item>
        </el-form>
        <template slot="footer">
            <el-button size="small" @click="visible = false">{{ $t('cancel') }}</el-button>
            <el-button size="small" @click="dataFormSubmitHandle()" type="primary" v-loading="loading">{{ $t('confirm') }}</el-button>
        </template>
    </qz-dialog>
</template>
<script>
import * as api from './api'
import util from '@/libs/util'

export default {
  data () {
    return {
      visible: false,
      dataForm: {
        id: '',
        desc: '',
        name: '',
        level: '',
        time: '',
        remark: '',
        createDate: '',
        creator: '',
        updateDate: '',
        updator: ''
      },
      title: '',
      loading: false,
      isAdd: false
    }
  },
  computed: {
    dataRule () {
      return {
      }
    }
  },
  methods: {
    init () {
      this.title = !this.dataForm.id ? this.$t('add') : this.$t('update')
      this.isAdd = !this.dataForm.id
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
        if (this.isAdd) {
          this.$refs['dataForm'].resetFields()
          this.dataForm.id = ''
        } else {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      api.info(this.dataForm.id).then(data => {
        this.dataForm = data
      })
    },
    // 表单提交
    async dataFormSubmitHandle () {
      let valid = await this.$refs.dataForm.validate().catch(() => {
        return util.$message.showInfo2('校验错误')
      })
      if (!valid) return
      this.loading = true
      let method = !this.isAdd ? 'put' : 'post'
      await api.save(this.dataForm, method).catch((err) => {
        this.loading = false
        throw err
      })
      this.loading = false
      this.visible = false
      this.isAdd = false
      this.$emit('refreshDataList', this.dataForm)
    }
  }
}
</script>
