<template>
    <d2-container>
          <el-form :inline="true" @keyup.enter.native="getDataList()" size="small">
             <el-form-item>
                   <el-button @click="addOrUpdateHandle()" type="primary" v-if="$hasPermission('message:sysmessagesend:save')">写信</el-button>
             </el-form-item>
             <el-form-item>
                   <el-button @click="deleteHandle()" type="danger" v-if="$hasPermission('message:sysmessagesend:delete')">删除</el-button>
             </el-form-item>
              <el-form-item>
                  <el-button @click="deleteHandle()" type="danger" v-if="$hasPermission('message:sysmessagesend:delete')">彻底删除</el-button>
              </el-form-item>
             <el-form-item>
                   <el-button @click="exportHandle()" type="success" v-if="$hasPermission('message:sysmessagesend:export')">导出</el-button>
             </el-form-item>
              <el-form-item>
                  <el-input clearable placeholder="标题" v-model="dataForm.like_title"></el-input>
              </el-form-item>
             <el-form-item>
                  <el-button @click="getDataList()">查询</el-button>
             </el-form-item>
            </el-form>
        <el-row :gutter="12">
            <el-col :span="3">
                <message-nav style="margin-top: -10px" :style="{height: heightY-topY+20+'px'}" @select="navMenuSelectHandle"/>
            </el-col>
        <el-col :span="21">
            <messageTable  :height="heightY-topY+'px'"  style="margin-top: -10px" ref="tableData" :call-data-form="getDataForm"></messageTable>
        </el-col>
        </el-row>
            <!-- 弹窗, 新增 / 修改 -->
    </d2-container>
</template>
<script>
import resizemix from '@/components/qz-mixins/windowresize/resizemix'
import messageNav from './message-nav'
import messageTable from './message-table'

import * as api from './api'
export default {
  name: 'message-index',
  mixins: [resizemix],
  components: { messageNav, messageTable },
  data () {
    return {
      dataForm: {
        folder: '1',
        like_title: ''
      }

    }
  },
  mounted () {
    this.getDataList()
  },
  methods: {
    init () {

    },
    getDataForm () {
      return this.dataForm
    },
    navMenuSelectHandle (index, indexPath) {
      this.dataForm.folder = index
      this.getDataList()
    },
    getDataList () {
      this.$refs.tableData.getDataList()
    },
    //  新增或修改
    addOrUpdateHandle (id) {
      this.addOrUpdateVisible = true
      this.$nextTick(() => {
        this.$refs.addOrUpdate.dataForm.id = id
        this.$refs.addOrUpdate.init()
      })
    },
    // 导出
    exportHandle () {
      api.exportXls(this.dataForm)
    }
  }
}
</script>
<style lang="scss">
</style>
