<template>
    <div>
        <el-table
                :data="dataList"
                @current-change="handleCurrentChange"
                highlight-current-row
                ref="tableData"
                stripe
                style="width: 100%"
                v-bind="$attrs"
                v-on="$listeners">
            <el-table-column :index="indexStart" align="center" header-align="center" type="index"
                             width="50"></el-table-column>
            <el-table-column align="center" header-align="center" type="selection" width="50"></el-table-column>
            <el-table-column align="center" header-align="center" label="发件人" prop="senderName" sortable="custom"
                             width="100"></el-table-column>
            <el-table-column align="left" header-align="center" label="标题" prop="title" sortable="custom"
                             min-width="300"></el-table-column>
            <el-table-column align="center" header-align="center" label="发件机构" prop="deptName" sortable="custom"
                             width="200"></el-table-column>
            <el-table-column align="center" header-align="center" label="发件时间" prop="sendTime" sortable="custom"
                             width="120">
                <template slot-scope="scope">
                    <span v-if="scope.row.sendTime"> {{ scope.row.sendTime|moment('YYYY-MM-DD') }}</span>
                </template>
            </el-table-column>
            <el-table-column align="center" header-align="center" label="" width="60">
                <template slot-scope="scope">
                    <el-button @click="addOrUpdateHandle(scope.row.id)" size="small" type="text"
                               v-if="$hasPermission('message:sysmessagesend:update')">收藏
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination :current-page="page"
                       :page-size="limit"
                       :page-sizes="[10, 20, 50, 100]"
                       :total="total"
                       @current-change="pageCurrentChangeHandle"
                       @size-change="pageSizeChangeHandle"
                       layout="total, sizes, prev, pager, next, jumper"
                       style="margin: 5px 0px -15px">
        </el-pagination>
    </div>
</template>

<script>
import * as api from './api'
import util from '@/libs/util'

export default {
  name: 'messageTable',
  components: {},
  props: {
    callDataForm: {
      type: Function,
      required: true
    }
  },
  data () {
    return {
      currentRow: null,
      dataList: [],
      order: '', // 排序，asc／desc
      orderField: '', // 排序，字段
      page: 1, // 当前页码
      limit: 10, // 每页数 limit 不能与字段重复
      total: 0, // 总条数
      dataListLoading: false, // 装载数据
      dataListSelections: [], // 数据列表，多选项
      addOrUpdateVisible: false, // 新增／更新，弹窗addOrUpdateVisible状态
      indexStart: 1
    }
  },
  methods: {
    getDataList () {
      this.dataForm = this.callDataForm()
      let params = {
        order: this.order,
        orderField: this.orderField,
        page: this.page,
        limit: this.limit,
        ...this.dataForm }
      this.indexStart = (this.page - 1) * this.limit + 1
      this.dataListLoading = true
      api.page(params).then((data) => {
        this.dataList = data.records
        this.total = data.total * 1
      }).catch((err) => {
        this.dataListLoading = false
        util.$message.showInfo2(err)
      })
      this.dataListLoading = false
    },
    // 分页, 每页条数
    pageSizeChangeHandle (val) {
      this.page = 1
      this.limit = val
      this.getDataList()
    },
    // 分页, 当前页
    pageCurrentChangeHandle (val) {
      this.page = val
      this.getDataList()
    },
    // checkbox改变
    dataListSelectionChangeHandle (val) {
      this.dataListSelections = val
    },
    // 取回dataListSelection
    getDataListSelection () {
      return this.dataListSelections
    },
    // 排序
    dataListSortChangeHandle (data) {
      if (!data.order || !data.prop) {
        this.order = ''
        this.orderField = ''
        return false
      }
      this.order = data.order
      this.orderField = data.prop
      this.getDataList()
    },
    handleCurrentChange (val) {
      this.currentRow = val
    },
    // 取行当前行
    getCurrRow () {
      return this.currentRow
    },
    // 更新当前行
    updateRow (id) {
      this.$emit('updateRow', id)
    },
    // 取某id的index
    getIndex (id) {
      for (let index in this.dataList) {
        if (this.dataList[index]['id'] === id) {
          return index
        }
      }
      return -1
    },
    async deleteHandle (id) {
      if (!id && this.dataListSelections.length <= 0) {
        return util.$message.showInfo2('请选择需要删除的项')
      }
      let ok = await util.$message.showYesNo('是否确定删除选择的项目?')
      if (!(ok && ok === 'confirm')) {
        return ''
      }
      let data = id ? [id] : this.dataListSelections.map(item => item['id'])
      await api.remove(data)
      this.getDataList()
    },
    // 删除某一行
    async deleteRow (id) {
      let index = this.getIndex(id)
      if (index < 0) return
      let ok = await util.$message.showYesNo('是否删除【' + this.dataList[index].title + '】?')
      // 不删除 则返回
      if (!(ok && ok === 'confirm')) {
        return
      }
      let objData = await api.remove([id])
      if (objData) {
        this.$emit('deleteSuccess', id)
        this.dataList.splice(index, 1)
        await util.$message.showInfo('删除成功')
      }
    }
  }
}
</script>

<style scoped>
</style>
