<template>
    <el-menu active-text-color="#3a22ff"
             text-color="#000000"
             v-bind="$attrs"
             v-on="$listeners">
        <div style="font-size: 16px;margin-left: 8px"><d2-icon name="inbox" style="margin-right: 8px"/><b>站内信箱</b></div>
        <el-menu-item index="1"><d2-icon name="envelope-open" className="far"/>收件箱<span v-if="folder.msg1Count>0">({{folder.msg1Count}})</span>
            <el-badge value="新" class="item" v-if="folder.msg1Count>0"></el-badge>
        </el-menu-item>
        <el-menu-item index="2"><d2-icon name="comment-alt" className="far"/>提醒消息<span v-if="folder.msg2Count>0">({{folder.msg2Count}})</span></el-menu-item>
        <el-menu-item index="99"><i class="el-icon-collection-tag"/>星标消息<span v-if="folder.msg99Count>0">({{folder.msg99Count}})</span></el-menu-item>
        <el-menu-item index="5"><d2-icon name="paper-plane" className="far"/>发件箱<span v-if="folder.msg5Count>0">({{folder.msg5Count}})</span></el-menu-item>
        <el-menu-item index="6"><d2-icon name="paper-plane" className="far"/>撤回箱<span v-if="folder.msg6Count>0">({{folder.msg6Count}})</span></el-menu-item>
        <el-menu-item index="9"><d2-icon name="trash-alt" className="far"/>回收站<span v-if="folder.msg9Count>0">({{folder.msg9Count}})</span></el-menu-item>
    </el-menu>
</template>

<script>

export default {
  props: [],
  data () {
    return {
      folder: {
        msg1Count: 0,
        msg2Count: 0,
        msg99Count: 0,
        msg5Count: 0,
        msg6Count: 0,
        msg9Count: 0
      }
    }
  },
  // 第一步：挂载 ，页面加载时执行
  mounted () {

  },
  methods: {
    init () {

    }
  }
}
</script>

<style scoped>
    .item {
        margin-top: 5px;
    }
    .el-menu-item.is-active {
        background: #f2f2f2;
    }
</style>
