<template>
    <qz-dialog :title="title" :visible.sync="visible" top="6vh" width="600px">
        <el-form :model="dataForm" :rules="dataRule" label-width="90px" ref="dataForm" size="mini">
             <el-form-item prop="name" label="公司名称">
                <el-input clearable placeholder="公司名称" v-model="dataForm.name"></el-input>
             </el-form-item>
             <el-form-item prop="linkName" label="联系人姓名">
                <el-input clearable placeholder="联系人姓名" v-model="dataForm.linkName"></el-input>
             </el-form-item>
             <el-form-item prop="phone" label="联系人电话">
                <el-input clearable placeholder="联系人电话" v-model="dataForm.phone"></el-input>
             </el-form-item>
             <el-form-item prop="status" label="状态">
               <el-select clearable filterable required v-model="dataForm.status" class="el-form-item-select" placeholder="请选择">
                 <el-option
                   v-for="item in optionsStatus"
                   :key="item.value"
                   :label="item.label"
                   :value="item.value">
                 </el-option>
               </el-select>
             </el-form-item>
             <el-form-item prop="remark" label="备注">
                <el-input clearable placeholder="备注" v-model="dataForm.remark"></el-input>
             </el-form-item>
        </el-form>
        <template slot="footer">
            <el-button size="small" @click="visible = false">{{ $t('cancel') }}</el-button>
            <el-button size="small" @click="dataFormSubmitHandle()" type="primary" v-loading="loading">{{ $t('confirm') }}</el-button>
        </template>
    </qz-dialog>
</template>
<script>
import * as api from './api'
import util from '@/libs/util'

export default {
  data () {
    return {
      visible: false,
      dataForm: {
        id: '',
        name: '',
        linkName: '',
        phone: '',
        status: '',
        remark: '',
        creator: '',
        createDate: '',
        updator: '',
        updateDate: ''
      },
      title: '',
      loading: false,
      isAdd: false,
      optionsStatus: [{
        value: '1',
        label: '正常'
      }, {
        value: '2',
        label: '异常'
      }]
    }
  },
  computed: {
    dataRule () {
      return {
      }
    }
  },
  methods: {
    init () {
      this.title = !this.dataForm.id ? this.$t('add') : this.$t('update')
      this.isAdd = !this.dataForm.id
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
        if (this.isAdd) {
          this.$refs['dataForm'].resetFields()
          this.dataForm.id = ''
        } else {
          this.getInfo()
        }
      })
    },
    // 获取信息
    getInfo () {
      api.info(this.dataForm.id).then(data => {
        this.dataForm = data
      })
    },
    // 表单提交
    async dataFormSubmitHandle () {
      let valid = await this.$refs.dataForm.validate().catch(() => {
        return util.$message.showInfo2('校验错误')
      })
      if (!valid) return
      this.loading = true
      let method = !this.isAdd ? 'put' : 'post'
      await api.save(this.dataForm, method).catch((err) => {
        this.loading = false
        throw err
      })
      this.loading = false
      this.visible = false
      this.isAdd = false
      this.$emit('refreshDataList', this.dataForm)
    }
  }
}
</script>
