<template>
    <d2-container class="page">
      <div id="map" style="height: 88vh;"></div>
    </d2-container>
</template>

<script>
// import qzDeptInfo from './components/qz-dept-info'
// import qzNotice from './components/qz-notice'
// import qzCharts from './components/qz-charts'
// import qzShortcut from './components/qz-shortcut'
// import qzHelp from './components/qz-help'
// import mapboxgl from 'mapbox-gl' // 引入mapbox
import 'leaflet/dist/leaflet.css'
import L from 'leaflet'
import * as api from './api'
import resizemix from '@/components/qz-mixins/windowresize/resizemix'
import util from '@/libs/util'
import features from './image/370000'
// import CHINA from './image/CHINA'
import $ from 'jquery'
export default {
  name: 'index',
  mixins: [resizemix],
  components: {
  },
  data () {
    return {
      map: {},
      addOrShow: false, // 增加展示框是否显示
      dataForm: {
        id: '',
        groupName: '',
        name: '',
        longitude: '',
        latitude: '',
        onOff: '',
        light: '',
        voice: '',
        sweather: '',
        autoswitch: '',
        onDate: '',
        offDate: '',
        status: '',
        remark: ''
      },
      dataList: [],
      visible: false,
      auto: true,
      records: []
    }
  },
  mounted () {
    this.initMap()
  },
  beforeMount () {
    // window.screen.availHeight
  },
  created () {
  },
  methods: {
    // 初始化
    // mapbox leaflet初始化地图
    initMap () {
      // 到 mapbox 官网注册并创建下面的access token都是免费的，不过有5w次的浏览限制
      // http://webrd0{s}.is.autonavi.com/appmaptile?lang=zh_cn&size=1&scale=1&style=8&x={x}&y={y}&z={z}'
      // var url = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiMTgzODI0ZHl0IiwiYSI6ImNqbHExNDVjZzI0ZmUza2wxMDhocnlyem4ifQ.FZoJzmqTtli8hAvvAc1OPA'
      //  本地瓦片图层
      var url = 'http://localhost:80/qiluwenlv/resource/amap/{id}/{z}/{x}/{y}.png'
      // 初始化 地图
      this.getDataList().then((dataList) => {
        var leafletMap = L.map('map', {
          center: [36.2, 118], // 地图中心
          zoom: 7.5, // 缩放比列
          zoomControl: false, // 禁用 + - 按钮
          doubleClickZoom: false, // 禁用双击放大
          attributionControl: false // 移除右下角leaflet标识
        })
        // 将图层加载到地图上，并设置最大的聚焦还有map样式
        L.tileLayer(url, {
          maxZoom: 16,
          minZoom: 3,
          id: 'mapbox.streets'
        }).addTo(leafletMap)
        // 增加一个marker ，地图上的标记，并绑定了一个popup，默认打开
        var data = []
        var myIcon = L.icon({
          iconUrl: require('../image/screen.png'),
          iconSize: [35, 40],
          iconAnchor: [17.5, 20],
          popupAnchor: [0, 0]
          // shadowUrl: require('../image/point.png'),
          // shadowSize: [68, 95],
          // shadowAnchor: [22, 94]
        })
        var myIconNormal = L.icon({
          iconUrl: require('../image/screenNormal.png'),
          iconSize: [35, 40],
          iconAnchor: [17.5, 20],
          popupAnchor: [0, 0]
          // shadowUrl: require('../image/point.png'),
          // shadowSize: [68, 95],
          // shadowAnchor: [22, 94]
        })
        for (var k = 0; k < dataList.length; k++) {
          var item = {
            id: '',
            name: '',
            groupName: '',
            lnglat: [0, 0]
          }
          item.id = dataList[k].id
          item.groupName = dataList[k].groupName
          item.name = dataList[k].name
          item.lnglat = [dataList[k].longitude, dataList[k].latitude]
          data.push(item)
          if (dataList[k].status === '1') {
            L.marker([dataList[k].latitude, dataList[k].longitude], { icon: myIcon }).addTo(leafletMap).bindPopup(dataList[k].name)
          } else {
            L.marker([dataList[k].latitude, dataList[k].longitude], { icon: myIconNormal }).addTo(leafletMap).bindPopup(dataList[k].name)
          }
        }
        // 为点击地图的事件 增加popup
        var popup = L.popup()
        function onMapClick (e) {
          console.log(e.latlng.lat)
          console.log(e.latlng.lng)
          popup
            .setLatLng(e.latlng)
            .setContent('地理坐标 ' + e.latlng.toString())
            .openOn(leafletMap)
        }
        leafletMap.on('click', onMapClick)

        // 插件把 定义了多个国内的瓦片图层，我们只需要通过提供的方法访问到相应的图层即可
        // 从插件代码可以看出 需要传入 providerName.mapName.mapType 从插件代码中查找所需要的值

        // L.tileLayer.chinaProvider('GaoDe.Normal.Map', { maxZoom: 18, minZoom: 1 }).addTo(leafletMap)

        // var style = {
        //   'color': '#004eA2', // 边框颜色
        //   'weight': 3, // 边框粗细
        //   'opacity': 1, // 透明度
        //   'fillColor': 'transparent', // 区域填充颜色
        //   'fillOpacity': 0 // 区域填充颜色的透明
        // }
        // L.geoJSON(features, { style: style }).addTo(leafletMap) // features是指geojson数据
        L.geoJSON(features, { style: { color: '#6495ED', weight: 3, fillColor: 'transparent', fillOpacity: 0.05 } }).addTo(leafletMap)
      })
    },
    // 取点
    getDataList () {
      let params = {
        order: this.order,
        orderField: this.orderField,
        page: this.page,
        limit: 10000
      }
      this.indexStart = (this.page - 1) * this.limit + 1
      return api.page(params).then((data) => {
        this.records = data.records
        return data.records
      }).catch((err) => {
        util.$message.showInfo2(err)
      })
    }
  }
}
</script>

<style lang='scss' scoped>
  .show-style{
    width: 600px;
    min-height: 750px;
    padding: 20px;
    background: url("image/bg.png");
    position: fixed;
    background-size: cover;
    bottom: 0px;
    right: 0px;
  }
  .el-form-item-select{
    width: 100%;
  }
</style>
