// 主题名称
$theme-name: 'white-blue';
// 主题背景颜色
$theme-bg-color: #fff;
//$theme-bg-color: rgba(#fff, 0);
// 主题背景图片遮罩
$theme-bg-mask: rgba(#000, 0);
//自己加的 字体颜色变成黑色
$color-text-normal : #000000;
// container组件
$theme-container-background-color: rgba(#FFF, 1);
$theme-container-header-footer-background-color: #FFF;
$theme-container-border-inner: 1px solid #cfd7e5;
$theme-container-border-outer: 1px solid #cfd7e5;

$theme-multiple-page-control-color: $color-text-normal;
$theme-multiple-page-control-color-active: #2f74ff;
$theme-multiple-page-control-nav-prev-color: #cfd7e5;
$theme-multiple-page-control-nav-next-color: #cfd7e5;
$theme-multiple-page-control-border-color: #cfd7e5;
$theme-multiple-page-control-border-color-active: #FFF;
$theme-multiple-page-control-background-color: rgba(#000, .03);
$theme-multiple-page-control-background-color-active: #FFF;

// 顶栏和侧边栏中展开的菜单 hover 状态下
$theme-menu-item-color-hover: #293849;
$theme-menu-item-background-color-hover: #ecf5ff;

// 顶栏上的文字颜色
$theme-header-item-color: #fff;
$theme-header-item-background-color: transparent;
// 顶栏上的项目在 hover 时
$theme-header-item-color-hover: #fff;
$theme-header-item-background-color-hover: rgba(#FFF, .2);
// 顶栏上的项目在 focus 时
$theme-header-item-color-focus: #fff;
$theme-header-item-background-color-focus: rgba(#FFF, .2);
// 顶栏上的项目在 active 时
$theme-header-item-color-active: #fff;
$theme-header-item-background-color-active:  rgba(#FFF, .2);


// 侧边栏上的文字颜色
$theme-aside-item-color: #303133;
$theme-aside-item-background-color: transparent;
// 侧边栏上的项目在 hover 时
$theme-aside-item-color-hover: #303133;
$theme-aside-item-background-color-hover: rgba(#ecf5ff, 1);
// 侧边栏上的项目在 focus 时
//$theme-aside-item-color-focus: #409eff;
$theme-aside-item-color-focus: #004ea2;
$theme-aside-item-background-color-focus: rgba(#ecf5ff, 1);
// 侧边栏上的项目在 active 时
//$theme-aside-item-color-active: #409eff;
$theme-aside-item-color-active: #004ea2;
$theme-aside-item-background-color-active: rgba(#ecf5ff, 1);

// 侧边栏菜单为空的时候显示的元素
$theme-aside-menu-empty-icon-color: $color-text-normal;
$theme-aside-menu-empty-text-color: $color-text-normal;
$theme-aside-menu-empty-background-color: rgba(#000, .03);
$theme-aside-menu-empty-icon-color-hover: $color-text-main;
$theme-aside-menu-empty-text-color-hover: $color-text-main;
$theme-aside-menu-empty-background-color-hover: rgba(#000, .05);
