<template>
    <d2-container>
        <el-form :inline="true" @keyup.enter.native="getDataList()" size="small">
          <el-form-item>
            <el-input v-model="dataForm.name" placeholder="名称" clearable></el-input>
          </el-form-item>
          <el-form-item>
            <el-button @click="getDataList()">查询</el-button>
          </el-form-item>
          <el-form-item>
            <el-button @click="addOrUpdateHandle()" type="primary" v-if="$hasPermission('terminal:wlequipmentinfo:save')">增加</el-button>
          </el-form-item>
          <el-form-item>
            <el-button @click="deleteHandle()" type="danger" v-if="$hasPermission('terminal:wlequipmentinfo:delete')">批量删除</el-button>
          </el-form-item>
          <!--<el-form-item>-->
            <!--<el-button @click="exportHandle()" type="success" v-if="$hasPermission('terminal:wlequipmentinfo:export')">导出</el-button>-->
          <!--</el-form-item>-->
        </el-form>
        <el-table
          ref="listTable"
          :data="dataList"
          @row-click="rowClick"
          @selection-change="dataListSelectionChangeHandle"
          @sort-change="dataListSortChangeHandle"
          stripe
          highlight-current-row
          :height="heightY-topY+'px'"
          border
          style="width: 100%;margin-top: -10px"
          size="small"
          v-loading="dataListLoading">
          <el-table-column align="center" header-align="center" type="index" :index="indexStart" width="50" fixed></el-table-column>
          <el-table-column align="center" header-align="center" type="selection" width="50" fixed></el-table-column>
          <el-table-column prop="name" label="名称" header-align="center" align="center"></el-table-column>
          <el-table-column prop="status" label="状态" header-align="center" align="center">
            <template slot-scope="scope">
              <img v-if="scope.row.status == 1" src="../../image/normal.png" class="icon-image">
              <img v-else src="../../image/abnormal.png" class="icon-image">
            </template>
          </el-table-column>
          <el-table-column prop="type" label="类型" header-align="center" align="center">
            <template slot-scope="scope">
              <span v-if="scope.row.type == 0">三思</span>
              <span v-else-if="scope.row.type == 1">诺瓦</span>
              <span v-else>其它</span>
            </template>
          </el-table-column>
          <el-table-column prop="onOff" label="开关" header-align="center" align="center">
            <template slot-scope="scope">
              <img v-if="scope.row.onOff == 1" src="../../image/on.png" class="icon-image">
              <img v-else src="../../image/off.png" class="icon-image">
            </template>
          </el-table-column>
          <el-table-column align="center" fixed="right" header-align="center" label="操作" width="120">
            <template slot-scope="scope">
              <el-button @click="addOrUpdateHandle(scope.row.id)" size="small" type="text"
                         v-if="$hasPermission('terminal:wlequipmentinfo:update')">修改</el-button>
              <el-button @click="deleteHandle(scope.row.id)" size="small" type="text"
                         v-if="$hasPermission('terminal:wlequipmentinfo:delete')">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination style="margin: 5px 0px -15px"
                       :current-page="page"
                       :page-size="limit"
                       :page-sizes="[10, 20, 50, 100]"
                       :total="total"
                       @current-change="pageCurrentChangeHandle"
                       @size-change="pageSizeChangeHandle"
                       layout="total, sizes, prev, pager, next, jumper">
        </el-pagination>
        <!-- 弹窗, 新增 / 修改 -->
        <add-or-update @refreshDataList="getDataList"  @refreshMapData="mapInit" ref="addOrUpdate" v-show="addOrUpdateVisible"></add-or-update>
      <!--<div class="div-right">-->
        <!--<div id="terminalMapContainer" ref="terminalMapContainer" class="map-div-style">-->
        <!--</div>-->
      <!--</div>-->
    </d2-container>
</template>
<script>
import util from '@/libs/util'
import resizemix from '@/components/qz-mixins/windowresize/resizemix'
import * as api from './api'
import addOrUpdate from './terminal-add-or-update'
import MapLoader from '../../AMap'
import 'vue-amap' // 引入高德地图
export default {
  name: 'terminal-wlequipmentinfo',
  mixins: [resizemix],
  components: {
    addOrUpdate
  },
  data () {
    return {
      topY: 180,
      dataForm: {
        // 包含
        name: '',
        // ge_是指大于等于
        ge_createDate: null,
        // le_是指小于等于
        le_createDate: null
      },
      dataList: [],
      pointList: [],
      multipleSelection: [],
      id: '',
      order: '', // 排序，asc／desc
      orderField: '', // 排序，字段
      page: 1, // 当前页码
      limit: 20, // 每页数 limit 不能与字段重复
      total: 0, // 总条数
      dataListLoading: false, // 装载数据
      dataListSelections: [], // 数据列表，多选项
      addOrUpdateVisible: false, // 新增／更新，弹窗addOrUpdateVisible状态
      indexStart: 1,
      false: false,
      fileList: [{ name: '', id: '' }],
      uploadExcel: null,
      centerPosition: [117.2099200, 36.6765230]
    }
  },
  mounted () {
  },
  created () {
    // this.mapInit()
    this.getDataList()
  },
  computed: {
    dataRule () {
      return {
      }
    }
  },
  methods: {
    init () {
    },
    // 取点
    getDataList () {
      let params = {
        order: this.order,
        orderField: this.orderField,
        page: this.page,
        limit: this.limit,
        ...this.dataForm }
      this.indexStart = (this.page - 1) * this.limit + 1
      this.dataListLoading = true
      return api.page(params).then((data) => {
        this.dataList = data.records
        this.total = data.total * 1
        this.dataListLoading = false
        return data.records
      }).catch((err) => {
        this.dataListLoading = false
        util.$message.showInfo2(err)
      })
    },
    // 地图初始化
    mapInit () {
      MapLoader().then(AMap => {
        this.map = new AMap.Map(this.$refs.terminalMapContainer, {
          resizeEnable: true,
          zoom: 18, // 地图视图缩放级别
          center: this.centerPosition // 地图中心点的经纬度
        })
        var clickHandler = (e) => {
          this.$refs.addOrUpdate.dataForm.longitude = e.lnglat.getLng()
          this.$refs.addOrUpdate.dataForm.latitude = e.lnglat.getLat()
          this.addOrUpdateHandle()
        }
        this.map.on('click', clickHandler)
        // marker
        var styleObject = {
          // url: 'https://webapi.amap.com/theme/v1.3/markers/n/mark_b.png', // 图标地址
          url: require('../../image/point.png'),
          size: new AMap.Size(25, 25), // 图标大小
          anchor: new AMap.Pixel(5, 5) // 图标显示位置偏移量，基准点为图标左上角
        }
        this.getDataList().then((dataList) => {
          this.dataList = dataList
          var data = []
          for (var i = 0; i < this.dataList.length; i++) {
            var item = {
              id: '',
              lnglat: [0, 0]
            }
            item.id = this.dataList[i].id
            item.lnglat = [this.dataList[i].longitude, this.dataList[i].latitude]
            data.push(item)
          }
          var massMarks = new AMap.MassMarks(data, {
            zIndex: 100000, // 海量点图层叠加的顺序
            zooms: [3, 19], // 在指定地图缩放级别范围内展示海量点图层
            style: styleObject // 设置样式对象
          })
          massMarks.setMap(this.map)
          var marker = new AMap.Marker({ content: ' ', map: this.map })
          // mouseover 鼠标悬浮事件
          massMarks.on('mouseover', (e) => {
            this.dataForm.id = e.data.id
            this.getDataList()
            this.dataForm.id = ''
            marker.setPosition(e.data.lnglat)
            marker.setLabel({ content: e.data.name })
          })
        })
      }, e => {
        console.log('地图加载失败', e)
      })
    },
    rowClick (row) {
      this.centerPosition = [row.longitude, row.latitude]
      this.mapInit()
    },
    // 分页, 每页条数
    pageSizeChangeHandle (val) {
      this.page = 1
      this.limit = val
      this.getDataList()
    },
    // 分页, 当前页
    pageCurrentChangeHandle (val) {
      this.page = val
      this.getDataList()
    },
    // checkbox改变
    dataListSelectionChangeHandle (val) {
      this.dataListSelections = val
    },
    // 排序
    dataListSortChangeHandle (data) {
      if (!data.order || !data.prop) {
        this.order = ''
        this.orderField = ''
        return false
      }
      this.order = data.order
      this.orderField = data.prop
      this.getDataList()
    },
    //  新增或修改
    addOrUpdateHandle (id) {
      this.addOrUpdateVisible = true
      this.$nextTick(() => {
        this.$refs.addOrUpdate.dataForm.id = id
        this.$refs.addOrUpdate.init()
      })
    },
    //  批量增加
    addAllHandle () {
      if (this.uploadExcel != null) {
        api.saveAll(this.uploadExcel).then((data) => {
          this.$message({
            message: '文件上传失败',
            type: 'warning'
          })
        })
      }
    },
    async deleteHandle (id) {
      if (!id && this.dataListSelections.length <= 0) {
        return util.$message.showInfo2('请选择需要删除的项')
      }
      let ok = await util.$message.showYesNo('是否确定删除选择的项目?')
      if (!(ok && ok === 'confirm')) {
        return ''
      }
      let data = id ? [id] : this.dataListSelections.map(item => item['id'])
      await api.remove(data)
      this.getDataList()
    },
    // 导出
    exportHandle () {
      api.exportXls(this.dataForm)
    },
    // 批量增加相关方法
    handleRemove (file, fileList) {
      console.log(file, fileList)
    },
    handlePreview (file) {
      console.log(file)
    },
    handleExceed (files, fileList) {
      this.$message.warning(`当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`)
    },
    beforeRemove (file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`)
    }
  }
}
</script>
<style lang="scss">
  .div-left{
    width: 100%;
    height: 100vh;
    float: left;
  }
  .div-right{
    width: 0%;
    height: 100vh;
    float: left;
    padding: 20px 0px 20px 20px;
  }
  .icon-image{
    height: 20px !important;
  }
  .map-div-style{
    width: 100%;
    height: 98vh;
  }
</style>
