<template>
  <el-dialog :title="title" :visible.sync="visible" top="6vh" width="900px">
    <el-form :model="dataForm" :rules="dataRule" label-width="120px" ref="dataForm" size="mini">
      <el-timeline>
        <el-timeline-item color="#ffff00">
          <el-card>
            <h4>终端基础信息</h4>
            <el-row>
              <el-col :span="12">
                <el-form-item prop="name" label="名称">
                  <el-input clearable placeholder="名称" required v-model="dataForm.name"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item prop="controllerType" label="IP">
                  <el-input clearable placeholder="IP" required v-model="dataForm.ip"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col  :span="12">
                <el-form-item prop="status" label="状态">
                  <el-select clearable filterable required v-model="dataForm.status" class="el-form-item-select" placeholder="请选择">
                    <el-option
                      v-for="item in optionsStatus"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col  :span="12">
                <el-form-item prop="type" label="终端类型">
                  <el-select clearable filterable  v-model="dataForm.type" class="el-form-item-select" placeholder="请选择">
                    <el-option
                      v-for="item in optionsType"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col  :span="12">
                <el-form-item prop="longitude" label="经度">
                  <el-input clearable placeholder="经度" v-model="dataForm.longitude"></el-input>
                </el-form-item>
              </el-col>
              <el-col  :span="12">
                <el-form-item prop="latitude" label="纬度">
                  <el-input clearable placeholder="纬度" v-model="dataForm.latitude"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-card>
        </el-timeline-item>
        <el-timeline-item  color="#8DEEEE">
          <el-card>
            <h4>终端播放信息</h4>
            <el-row>
              <el-col  :span="12">
                <el-form-item prop="onOff" label="开关">
                  <el-select clearable filterable  v-model="dataForm.onOff" class="el-form-item-select" placeholder="请选择">
                    <el-option
                      v-for="item in optionsOnOff"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col  :span="12">
                <el-form-item prop="program" label="播放节目ID">
                  <el-input clearable placeholder=""  v-model="dataForm.program"></el-input>
                </el-form-item>
              </el-col>
              <!--<el-col  :span="12">-->
                <!--<el-form-item prop="light" label="亮度">-->
                  <!--<el-input-number :min="0" controls-position="right" v-model="dataForm.light" style="width: 100%"/>-->
                <!--</el-form-item>-->
              <!--</el-col>-->
              <!--<el-col  :span="12">-->
                <!--<el-form-item prop="autoswitch" label="自动开关机">-->
                  <!--<el-select clearable filterable  v-model="dataForm.autoswitch" class="el-form-item-select"  placeholder="请选择">-->
                    <!--<el-option-->
                      <!--v-for="item in optionsAutoswitch"-->
                      <!--:key="item.value"-->
                      <!--:label="item.label"-->
                      <!--:value="item.value">-->
                    <!--</el-option>-->
                  <!--</el-select>-->
                <!--</el-form-item>-->
              <!--</el-col>-->
            </el-row>
            <!--<el-row>-->
              <!--<el-col  :span="12">-->
                <!--<el-form-item prop="onDate" label="自动开机时间">-->
                  <!--<el-time-picker v-model="dataForm.onDate" :picker-options="pickerOptions" :value-format="valueFormat" placeholder="自动开机时间" class="el-form-item-select" ></el-time-picker>-->
                <!--</el-form-item>-->
              <!--</el-col>-->
              <!--<el-col  :span="12">-->
                <!--<el-form-item prop="offDate" label="自动关机时间">-->
                  <!--<el-time-picker v-model="dataForm.offDate" :picker-options="pickerOptions" :value-format="valueFormat" placeholder="自动开机时间" class="el-form-item-select" ></el-time-picker>-->
                <!--</el-form-item>-->
              <!--</el-col>-->
            <!--</el-row>-->
            <el-row>
            </el-row>
          </el-card>
        </el-timeline-item>
        <el-timeline-item  color="#FFBBFF">
          <el-card>
            <h4>终端其它信息</h4>
            <el-row>
              <el-col  :span="24">
                <el-form-item prop="remark" label="备注">
                  <el-input clearable type="textarea" :rows="2" placeholder="备注" v-model="dataForm.remark"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-card>
        </el-timeline-item>
      </el-timeline>
    </el-form>
    <template slot="footer">
      <el-button size="small" @click="visible = false">{{ $t('cancel') }}</el-button>
      <el-button size="small" @click="dataFormSubmitHandle()" type="primary" v-loading="loading">{{ $t('confirm') }}</el-button>
    </template>
  </el-dialog>
</template>
<script>
import * as api from './api'
import util from '@/libs/util'

export default {
  data () {
    return {
      visible: false,
      auto: true,
      pickerOptions: { selectableRange: '00:00:00 - 23:59:59' },
      valueFormat: 'HH:mm:ss',
      optionsStatus: [{
        value: '1',
        label: '正常'
      }, {
        value: '0',
        label: '异常'
      }],
      optionsType: [{
        value: '0',
        label: '三思'
      }, {
        value: '1',
        label: '诺瓦'
      }],
      optionsOnOff: [{
        value: '1',
        label: '开'
      }, {
        value: '0',
        label: '关'
      }],
      optionsAutoswitch: [{
        value: '1',
        label: '开'
      }, {
        value: '0',
        label: '关'
      }],
      optionsProvince: [{ id: '', name: '', value: '' }],
      optionsCity: [{ id: '', name: '', value: '' }],
      optionsDistrice: [{ id: '', name: '', value: '' }],
      dataForm: {
        id: '',
        equipId: '',
        type: '',
        groupName: '',
        name: '',
        longitude: '',
        latitude: '',
        ip: '',
        subnetMask: '',
        dns: '',
        rowPixel: '',
        columnPixel: '',
        modulesType: '',
        moduleRow: '',
        columnPixels: '',
        controllerType: '',
        province: '',
        city: '',
        districe: '',
        station: '',
        sn: '',
        onOff: '',
        light: '',
        voice: '',
        sweather: '',
        autoswitch: '',
        onDate: '',
        offDate: '',
        status: '',
        program: '',
        remark: '',
        creator: '',
        createDate: '',
        updator: '',
        updateDate: ''
      },
      title: '',
      loading: false
    }
  },
  computed: {
    dataRule () {
      return {
      }
    }
  },
  created () {
  },
  methods: {
    init () {
      this.title = !this.dataForm.id ? this.$t('add') : this.$t('update')
      this.visible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].resetFields()
        if (this.dataForm.id) this.getInfo()
      })
    },
    // 获取信息
    getInfo () {
      api.info(this.dataForm.id).then(data => {
        this.dataForm = data
      })
    },
    // 表单提交
    async dataFormSubmitHandle () {
      let valid = await this.$refs.dataForm.validate().catch(() => {
        return util.$message.showInfo2('校验错误')
      })
      if (!valid) return
      this.loading = true
      let method = this.dataForm.id ? 'put' : 'post'
      await api.save(this.dataForm, method).catch((err) => {
        this.loading = false
        throw err
      })
      this.loading = false
      this.visible = false
      this.$emit('refreshDataList', this.dataForm)
      // this.$emit('refreshMapData', this.dataForm)
    }
  }
}
</script>
<style>
  .el-form-item-select{
    width: 100% !important;
  }
</style>
